[2017-12-04 11:05] gaurav107 opened #1 "support configurable subscriptions endpoint"
Instead of hardcoding `wss://subscriptions.graph.cool/v1/${serviceId}` in GraphcoolLink, it should be passed as a param in the root Graphcool ctor which internally passes it to GraphcoolLink ctor. This'll help in testing subscriptions locally using docker

[2017-12-09 17:44] nikolasburk opened #2 "Delegating to field with different type"
I have the following data model:

[code]

Now, in my `app.graphql` I want specify the following root field:

[code]

Now, the straightforward way to implement this would be to delegate to `query.comments` and passed the post's `id` as a filter. However, it feels more "natural" to fetch the specific `Post` including its `comments`, but this doesn't really work with the API. this is what the resolve

[2017-12-09 18:25] nikolasburk opened #3 "Settle API for `exists`"
It feels a bit unnatural to use `exists` as follows:

[code]

What should the generated functions on `exists` be named?

[2017-12-11 09:56] marktani opened #4 "API to combine multiple query fields into one request"
[code]

thanks to @sorenbs for reporting! 😎

[2017-12-11 10:35] schickling opened #5 "Re-use application fields to filter data from database"
It's a common scenario that you're adding a new (computed) field to your application schema. It would be great if there was a way to filter data from the database based on this field.

This might also require a new feature in the Graphcool database.

[2017-12-11 12:16] schickling opened #6 "Leverage graphql-config extension for configuration context"
[code]

Most information provided in the previous snippet is available in the `.graphqlconfig` file. It would be interesting to see whether this information could be read automatically without the need to specify it.

My current understanding is that the `schemaPath` can be always used and therefore can be left out if a `.graphqlconfig` file is available. The more difficult part is around the endp

[2017-12-11 12:18] schickling opened #7 "Use batched HTTP link to support data loader pattern"

[2017-12-14 15:46] maticzav opened #8 "Permissions"
Hi, so I discussed this a bit with @marktani already and he suggested that I share it here, so we can have further discussion 😄

So, to begin with, from what I have read and from my experience I would say that it is best to separate things that might seem related in the app but are actually not. In my opinion it would be best to separate backend into `business logic` part, `database` part and `sec

[2017-12-15 06:10] kbrandwijk commented on #2
I think this would be solved by the fact that info would already contain that field information, so if you pass in `info` instead of `selection` to the `post` method, that _should_ just work.

[2017-12-15 06:15] kbrandwijk opened #10 "`exists` doesn't work?"
I tried using the `exists` feature, but I can't get it to work. I checked the sources, and I don't see how it would work currently. The function name (e.g. for `graphcool.exists.user(...)` that would be `user`) is passed in as rootFieldName, but that doesn't exist, and the generated info object contains a different `rootFieldName`, which I think is also incorrect, because it should only contain th

[2017-12-15 09:10] marktani commented on #10
Currently, it's `exists.users`.

Also see https://github.com/graphcool/graphcool-binding/issues/3

[2017-12-15 10:02] kbrandwijk commented on #10
I strongly doubt that, as that would turn the query into `alluserss`. Then again, the only reason that would work is because the rootFieldName is actually not used internally in `delegateToSchema`...

[2017-12-15 10:10] kbrandwijk commented on #3
I think the more natural way would be: `db.Comment.exists(...)`. So use the type name instead of the query root field, and turn it around, in a Fluent API style.

[2017-12-15 10:14] marktani commented on #10
The 1.0 API does not have a `allUsers` query. It is called `users`.

[2017-12-15 11:11] kbrandwijk opened #11 "Binding API"
I have played around with the current binding API, and it has a few pros and cons. There's a couple of possible directions, that I'd like to outline.

### GraphQL server 'as a database'
The Graphcool GraphQL server closely mimics a database. This might validate an API that's closer to traditional ~~ORM~~binding libraries. These libraries are more centered around a Type, instead of a query/mutation

[2017-12-15 12:41] schickling commented on #11
Thanks a lot for your great ideas @kbrandwijk! I think this is definitely something we should explore going forward in order to improve the binding API.

Please also note the recent API changes introduced with Graphcool 1.0 (see https://github.com/graphcool/framework/issues/1340).

[2017-12-16 17:42] marktani opened #12 "Handling errors"
How can I catch errors that occur when using `graphcool-binding`? I want to

* await the resolver call
* inspect it, to see if it has errors
* in case of an error, apply some kind of logic that depends on the specific error. Here I could use the specific error code, or some other information to decide what I do. I could try it again with different input values, return a human readable error, or se

[2017-12-16 17:49] kbrandwijk commented on #12
Wouldn't that just be something like:
[code]

[2017-12-16 18:01] marktani commented on #12
You're right, thanks! 👍

[2017-12-16 18:01] #12 closed

[2017-12-17 11:01] sorenbs opened #13 "Improve error message when calling mutation that doesn't exist"
When calling a misspelled mutation like this:

[code]

The following (unhelpful) error is returned:

[code]

[2017-12-17 13:33] kbrandwijk commented on #13
For reference, I have included that here, let's include that in `graphql-binding`: https://github.com/supergraphql/supergraph-orm/blob/master/src/utils.ts#L53-L55

[2017-12-17 14:24] schickling commented on #13
Issue moved to [graphcool/graphql-binding #1](https://github.com/graphcool/graphql-binding/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-17 14:24] #13 closed

[2017-12-18 21:27] LawJolla opened #14 "Feature Request: Codegen'd resolvers"
First, amazing job and I'm one of your biggest fans!  I hand coded a GraphQL server with user accounts and auth.  Never again, especially when there's GraphCool!

One of the biggest GraphQL pain points is the sheer amount of boilerplate.  I enjoyed not writing resolvers with GraphCool.  The 1.0 version requires a server, which I love, but it brings back some resolver boilerplate.  I would love to

[2017-12-18 22:15] kbrandwijk commented on #14
Thank you for this feedback. There are different ways to improve this. Having these bindings generated so you can easily call existing queries and mutations is the first step towards that goal.

One of the options I am personally looking at is a way to 'extend' on what `graphql-import` offers to also work on resolvers (basically saving you from having to define this resolvers manually completely).

[2017-12-19 16:10] davidyin1212 opened #15 "JSON Type not allowed on application schema"
Currently when I set the field type to Json in the application schema I get `Error: Field rules: Couldn't find type Json`. However this type works in the database schema

[2017-12-19 16:44] kbrandwijk commented on #15
You should be able to add `scalar Json` to your final schema, but I'm not sure how to add the corresponding resolver.

[2017-12-19 20:36] marktani opened #16 "Better information for invalid queries"
<img width="381" alt="bildschirmfoto 2017-12-19 um 20 07 08" src="https://user-images.githubusercontent.com/1780597/34177637-84ec4238-e504-11e7-92f6-2975bbf603e7.png">

this currently returns `null`, instead of a helpful error message.

The error is that the code should say `id: userId` instead of `id: { userId }`.

[2017-12-20 10:16] marktani opened #17 "Better logging/debugging"
For example, sometimes you run into an error message like this:

[code]

There should be a flag to enable better logging:
* more information when an error occurs
* more information when mutations/queries run successfully
* ...

[2017-12-20 12:22] sorenbs opened #18 "Invalid selection set should throw error"
This query has a invalid selection set. (`logins` should be `login`)

[code]

Currently this generates an invalid query:

[code]

It would be better to throw an exception

This issue is related to but different from #16

[2017-12-20 12:30] sorenbs opened #19 "Better error message when delegating selection set for scalar fields"
Mutation:

[code]

resolver:

[code]

Results in this error:

[code]

as there is no selection set in info. This makes sense, but can be confusing.

Could we provide a better error message?

[2017-12-20 13:12] kbrandwijk opened #20 "Type for info argument of query is wrong"
https://github.com/graphcool/graphcool-binding/blob/master/src/index.ts#L129

I think this should be `info? : GraphQLResolveInfo | string`, like for mutations.

[2017-12-20 16:45] schickling commented on #20
Solved in the next version.

[2017-12-20 16:45] #20 closed

[2017-12-20 19:11] greenkeeper[bot] opened #22 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-12-20 19:22] kbrandwijk opened #23 "Unify response from delegate and request"
The delegates and the `request` method have different response formats. The request has `data.myQuery`, the delegates return the response directly. This makes it harder to interoperate.

Proposal: return the first element from data for `request`.

[2017-12-20 23:01] #22 closed

[2017-12-21 10:11] schickling commented on #18
Fixed in newest version.

[2017-12-21 10:11] #18 closed

[2017-12-21 10:22] schickling commented on #19
This is fixed in the newest release.

[2017-12-21 10:22] #19 closed

[2017-12-21 10:48] schickling commented on #16
Pending: https://github.com/apollographql/graphql-tools/issues/550

[2017-12-27 11:40] schickling commented on #15
@davidyin1212 is this still an issue for you or was this solved by the newest version?

[2017-12-28 12:43] nikolasburk opened #25 "Cannot read property 'getMutationType' of undefined"
I'm trying to produce a simple auth example, you can find the full repo [here](https://github.com/nikolasburk/gc-migration-auth-example).

The project is setup as follows:

**index.js**

[code]

**schema.graphql**

[code]

**auth.js**

[code]

**utils.js**

[code]

I am getting an error when sending the `signup` mutation:

[code]

This is the full error message:

[code]

[2017-12-28 16:21] schickling commented on #25
This should be fixed in `0.3.5`. Thanks for reporting!

[2017-12-28 16:21] #25 closed

[2017-12-29 14:07] nikolasburk opened #28 "`exists` allows to use `post`"
I have a `Post` type in my data model:

[code]

Now, when using the `exist` operator, it should only be possible to do `graphcool.exists.posts(...)`. But in this case I can also do `graphcool.exists.post(...)` which doesn't give an error but rather executes the corresponding query (which then false due to wrong arguments).

[2017-12-29 15:05] #28 closed

[2017-12-30 21:43] kbrandwijk commented on #6
Would it be possible to extend the functionality of the Graphcool extension for `graphql-config` to retrieve the endpoint and secret as well via `graphql-config`?

[2017-12-30 21:50] kbrandwijk commented on #5
I would like a recipes section somewhere in the docs (advancedgraphql?) to put these things in. Because this is already possible.

- Add your root query field to your schema
- Use a new Type as filter
- Add your own fields + backend supported filter fields to that type
- When passing in args to your delegate in the resolver, only use the backend supported fields
- In that same resolver, filter the

[2017-12-30 21:52] kbrandwijk commented on #4
As far as I'm concerned, this should be covered by transport level batching, which is way easier than combining and aliasing into a single query.
But if there are valid reasons to batch on a query level, please share.

[2017-12-30 22:02] kbrandwijk opened #29 "Add support for automatic persisted queries"
This issue is meant as a reminder and is on hold until https://github.com/graphcool/framework/issues/1464 is accepted. Unless it isn't, then this can be closed.

[2017-12-31 11:28] schickling commented on #4
I'm wondering whether we could save the `.then(x => x.find(x => true))` part. Other than that I'm a bit concerned about diverting too much from the original GraphQL query. I'd suggest to collect more use cases first and then re-evaluate the design.

[2017-12-31 11:29] schickling commented on #5
That's awesome @kbrandwijk. We'll certainly add a section like this to the docs. Can you already paste a code example?

[2017-12-31 11:35] schickling commented on #6
This is a bit tricky. Here are some scenarios with obvious downsides:

1. **Inject the value for `secret` and `endpoint` at "build time"** (i.e. when the static binding is generated). This however could mean that sensitive information/secrets are committed to version control

2. **Retrieve `secret` and `endpoint` at runtime**: This would require you to also deploy the `graphqlconfig` & `graphcool.

[2017-12-31 12:14] marktani commented on #5
I am collecting such recipes here: https://github.com/graphql-boilerplates/node-graphql-server/issues/35

Would be super cool if you can add a new recipe for this use case. :)
We can then take these and add to a specific place (docs, advancedgraphql or somewhere else).

[2017-12-31 16:22] schickling commented on #17
This should be much improved with the `new Graphcool({ debug: true })` option.

[2017-12-31 16:22] #17 closed

[2018-01-03 04:16] kbrandwijk commented on #23
@schickling Can I get your feedback on this issue, because it affects the way resolvers are implemented.

[2018-01-03 04:17] kbrandwijk commented on #10
No longer an issue.

[2018-01-03 04:17] #10 closed

[2018-01-03 04:18] kbrandwijk commented on #3
This is implemented in the latest version: `db.exists.Comment({ ... })`. Can this be closed for now?

[2018-01-03 10:26] marktani commented on #3
yep! 😄

[2018-01-03 10:26] #3 closed

[2018-01-03 10:44] schickling commented on #23
Sorry for the delay @kbrandwijk. So far that was actually intended. `request` is meant as a "ready-to-use" version of `graphql-request` (therefore the name). Can you elaborate more on some concrete problems you see with the current design?

[2018-01-04 00:29] kbrandwijk opened #39 "Add proxy support"
The apollo-link that is created should support a proxy, based on `process.env.HTTP_PROXY` and `process.env.HTTPS_PROXY`. Will create a PR for this later.

[2018-01-04 09:26] schickling opened #42 "subscriptions not working when debug=true"
@kbrandwijk commented on [Thu Jan 04 2018](https://github.com/graphcool/graphql-binding/issues/11)

Error: iterator.next is not a function.

[2018-01-04 10:03] schickling commented on #42
Pending: https://github.com/apollographql/apollo-link/issues/386

[2018-01-04 10:08] marktani opened #43 "Provide better error message for refused connection"
@marktani commented on [Wed Dec 20 2017](https://github.com/graphcool/graphcool-server-example/issues/16)

[code]

My `localdatabase_graphcool-database_1` container is on port `60001` and not `60000`. We could return an error like

[2018-01-04 10:40] schickling commented on #42
In the current setup, yes. But there still seems to be an underlying problem with `apollo-link`.

[2018-01-04 10:40] #42 closed

[2018-01-04 10:41] #15 closed

[2018-01-04 10:42] schickling commented on #15
Closing for now. Please re-open when this is still an issue.

[2018-01-04 11:10] kbrandwijk opened #45 "Create 'passthrough' resolvers for 1-on-1 delegation to underlying schema"
## Passthrough resolvers
In the current implementation, exposing root fields from one of the bindings in the final schema is a bit involved, because you need to:

- Add the field to your schema (1)
- Implement a resolver that delegates to the correct field on the binding (2)

This introduces a lot of duplication and boilerplate. This proposal addresses this.

## Implementation details
To make step

[2018-01-04 13:12] #45 closed

[2018-01-04 13:26] schickling commented on #45
Awesome work @kbrandwijk! @marktani will soon create some examples for this feature.

[2018-01-04 13:34] kbrandwijk commented on #45
Here's a minimal rundown of how to use it: https://gist.github.com/kbrandwijk/6e693f1cad585cb74fd8e022c7277394

[2018-01-05 14:06] marktani opened #48 "How to rename query fields when forwarding"
Let's say I want to forward the `allPosts` field to the `posts` field using `forwardTo`, is that possible?

A next step would be to also forward the `filter` input argument to the `where` input argument.

[2018-01-05 18:00] kbrandwijk commented on #48
No, if that's what you need, use the binding in your resolver. `forwardTo` is really a convenience method for forwarding to the same root field with the same arguments. In your case, use:
[code]

[2018-01-05 22:34] marktani commented on #48
Thanks! 🙂

[2018-01-05 22:34] #48 closed

[2018-01-05 22:43] kbrandwijk commented on #23
Because it is used in a context of resolvers, where all resolvers (built-in or delegated) return the data itself. That means that if I run into a use case where a binding delegate call is not sufficient, and I just want to specify my own query and call request on the binding, I suddenly get the data in a different format. I personally think it would be best (within the context of bindings) that th

[2018-01-05 22:45] kbrandwijk commented on #16
Also, would it help you that the static bindings pick this up at design-time, and you will get a type error?

[2018-01-05 22:46] marktani commented on #16
Yes, that is/would be tremendously helpful!

[2018-01-05 22:48] kbrandwijk commented on #14
@LawJolla We have implemented `forwardTo` in the latest release. Examples are coming, but you can basically replace your resolver function with a simple `forwardTo('db')` if you want to forward a call 1-on-1 (so same query name and arguments) to an underlying binding. See https://gist.github.com/kbrandwijk/6e693f1cad585cb74fd8e022c7277394#file-query-ts-L11 for a small snippet. Do you think that th

[2018-01-05 22:51] kbrandwijk commented on #16
![image](https://user-images.githubusercontent.com/852069/34631969-521257f4-f273-11e7-9afc-4b3423dd987b.png)

[2018-01-06 10:14] schickling commented on #16
We should still try to find a way to provide better run-time validation for dynamic bindings.

[2018-01-07 15:28] marktani opened #54 ""Schema must be an instance of GraphQLSchema." when creating subscription binding"
Executing this subscription resolver

[code]

leads to this error:

See https://github.com/marktani/reproduction-subscriptions for a complete reproduction.

[2018-01-07 20:00] marktani opened #55 "Wrong argument not detected"
[code]

returns this error:

[code]

Note

It looks like `graphcool-binding` is converting the list of strings that was passed into the `id` argument to a single string, instead of either throwing an error or passing the list of strings onto the GraphQL API.

see here for more information: https://www.graph.cool/forum/t/connect-mutation-for-many-to-many/2074?u=nilan

[2018-01-07 20:51] LawJolla commented on #14
I think that hits the use case dead on!  Great implementation!  Makes a ton of sense.  Thanks for your hard and great work!

[2018-01-07 20:56] marktani commented on #14
Here's an example: https://github.com/graphcool/graphcool/tree/examples-1.0/examples/resolver-forwarding 🙂

[2018-01-07 21:21] kbrandwijk commented on #14
Closing, as this use case is apparently sufficiently covered by this feature.

[2018-01-07 21:21] #14 closed

[2018-01-08 09:15] schickling commented on #55
Can you confirm this by pasting the generated query using the `debug: true` binding option?

[2018-01-08 09:23] marktani commented on #55
Yes, I'm looking into creating a reproduction example.

[2018-01-08 13:34] ph3b commented on #8
I agree! One of my main concerns about the transition to 1.0 was the fact that authorization would have to be done within each resolver. I really like this solution and hope it gets implemented!

[2018-01-08 20:06] marktani opened #58 "Syntax for subscription filters"
I want to run a subscription using filters:

[code]

this doesn't work, and results in this error message when running the subscription:

This one also doesn't work:

[code]

when I run the subscription, I don't get any response or error message.

What's the correct syntax for subscription filters? Note that I am using JS.

[2018-01-08 21:34] schickling commented on #58
[code]

[2018-01-08 21:34] #58 closed

[2018-01-10 12:22] marktani opened #61 "Transforming an incoming selection set before passing it into a resolver"
Say I have the following `datamodel.graphql`:

[code]

and the following `schema.graphql`:

[code]

This is how my resolver currently looks like:

[code]

This works now, but it looks like a bad approach in general. I also think the the `pick the selection set` line only works for specific queries.

Is there a more elegant solution for transforming an incoming `info` object before passing it into

[2018-01-10 12:50] marktani commented on #61
The answer is to return an object with two fields `links` and `count`. The `links` field is another resolver again:

[code]

[2018-01-10 12:50] #61 closed

[2018-01-10 16:01] ForsakenHarmony commented on #8
Yeah, the permission queries were really good, I would love to get something similar back

[2018-01-10 17:25] pie6k opened #64 "Allow using plain object for GraphQLResolveInfo or some way to automate it"
Consider schema where `User` have `boughtProducts` and each `Product` have a list of categories.

Consider you query for the user and want to have informations about all products he/she bought and all categories of those products.

Writing string 'query' to have all those informations resolved looks ugly and is not type-safe. In case of schema change, also, there is no easy way to know if it intro

[2018-01-10 17:30] pie6k commented on #64
I thought about using some object instead of string eg. (considering user has products and products has categories)

[code]

It will lead to a lot of `true` values, but it could have auto-generated interfaces so in case of schema changes you'd see errors, and also it'd be helpful to have IDE suggestions about such interface instead of writing plain string.

[2018-01-10 23:08] kbrandwijk commented on #64
I like the idea of introducing Type safety for the info object. Basically, all the information should already be available, because type definitions are generated for the entire schema, so it should be possible to use a type safe info object from it, which is basically an object for every root field with all it's scalar fields set to boolean.

[2018-01-12 11:02] schickling commented on #8
I was recently having an interesting discussion with @kbrandwijk about this. We should definitely explore this. Ideally this should be implemented as an additional package on top of the Graphcool binding (and not as part of `graphql-yoga` as it should stay compatible with any GraphQL server).

We possibly need to implement some kind of middleware/concept pattern for bindings to make this work prop

[2018-01-12 17:11] marktani opened #68 "Doesn't generate subscription type correctly"
Error message:

Reproduction:

[code]

[code]

Removing this from `src/generated/graphcool.ts` (around line 398) makes the server work without any problems:

[code]

A similar, but different, error occurs for the boilerplate `typescript-advanced`:

[code]

[2018-01-12 17:30] marktani commented on #68
Confirmed that [this upgrade from `1.3.3` to `1.3.5`](https://github.com/graphql-boilerplates/typescript-graphql-server/commit/4d5d76c524968247d3b9a20c6fb94f196ef12316) introduced the error message. I created a _temporary branch_ that reverts this specific commit, and all works as expected there:

[code]

[2018-01-12 18:30] marktani commented on #68
This happens with `graphql-cli@2.11.0`.

[2018-01-12 18:58] marktani commented on #68
I pinned `graphcool-binding@1.3.3` for now.

[2018-01-12 20:27] kbrandwijk commented on #68
Seems like the dependency for graphql-cli is not updated in the graphcool-cli, causing `prepare` to generate 'old' code.

[2018-01-13 08:25] kbrandwijk opened #70 "Remove bundling from graphcool-binding?"
Currently, `graphcool-binding` supports schema bundling out of the box. This is nice, but it creates a lot of dependencies. And it feels a bit like Express running Webpack for you. It think there is a clear pattern emerging that you use `graphql-cli` and its config file to configure and run bundling on your schemas to process imports, and this task should no longer be included in `graphcool-bindin

[2018-01-14 09:44] kbrandwijk commented on #68
Is this fixed in graphcool cli now @marktani?

[2018-01-14 09:52] kbrandwijk commented on #54
I am unable to reproduce this with these dependency versions:
[code]

[2018-01-14 10:47] marktani commented on #68
Will be soon.

[2018-01-14 10:47] #68 closed

[2018-01-14 10:57] kbrandwijk commented on #55
Anything to repro this already @marktani?

[2018-01-14 14:09] schickling commented on #54
This looks like a problem with @marktani's local setup. For everyone running into this problem, please try to delete the `node_modules` folder and reinstall via `npm` or `yarn`.

Please be aware that this can be especially a problem when linking node modules. I recommend using yarn workspaces in that case.

[2018-01-14 14:09] #54 closed

[2018-01-18 06:24] kbrandwijk opened #72 "What's the benefit of having bindings on the context"
Experimenting with the bindings, I found that they work equally well when not defined on the context, but just in the server index file. The added benefit is that they are only instantiated once, instead of for every request. What's the benefit of having them on the context, or is this a remnant of the early architecture?

[2018-01-18 09:52] schickling commented on #72
You should consider this as a best practice (and requirement) for using the dataloader pattern which is used by most bindings (or more precisely: injected through the links).

I'm happy to explore other ways to lift this requirement!

[2018-01-18 14:49] michaelchiche opened #73 "Calling a variable "data" breaks mutation"
You can find a see the bug using this repository: https://github.com/michaelchiche/prisma-variable-name-data

then running these two mutations:

[code]

with this data for post:

[code]

and both mutations call this function:

[code]

[2018-01-18 14:55] marktani commented on #73
Thanks for the report @michaelchiche!

I propose either of the following changes:

* support calling a variable `data` (or `where` [for other cases](https://github.com/graphql-boilerplates/node-graphql-server/issues/109)) - generally all variable names should be allowed
* or, if that is not possible for whatever reason, a friendly, precise and helpful error message should be shown in the logs that

[2018-01-18 15:53] goncy opened #74 "Doing a query in resolvers without specifing a fragment omits object properties?"
Passing this fragment:
[code]

To this resolver:
[code]

Returns the full object, that's fine:

[code]

But if i don't pass the fragment, I got this back (missing all the fields that are arrays or nested):

[code]

I'm sure that i'm missing something but it would be nice to know what, thanks!

[2018-01-18 18:18] marktani commented on #74
Hey @goncy, can you tell me how exactly you are passing in the fragment into the resolver?

I think all of this is actually expected behaviour, but it's not as straight-forward the first time you encounter it.

I mapped out the different behaviours of resolvers, depending on whether or not you're providing an `info` object [here](https://www.graph.cool/forum/t/querying-specific-fields-in-db-from-l

[2018-01-18 18:35] goncy commented on #74
First of all thanks!, this is what i'm passing as fragment

![image](https://user-images.githubusercontent.com/6494462/35114891-2ac33a96-fc65-11e7-8a24-c063b550210a.png)

So, if i replace the fragment with the info variable comming after context in the resolver the result should be the same?

[2018-01-18 18:42] goncy commented on #74
Oh, i think i got it, if you provide the info field you will get just the information from the original query, if you don't provide anything you will get the scalar fields, otherwise if you provide a fragment or different schema, you will get that back, something like that?

[2018-01-18 22:00] terion-name opened #75 "support for multiple services?"
One great feature with graphql is that one can combine multiple apis in one, with schema stitching or weaver schemas. The same applies here: one could have multiple underlying prisma services (with different contexts and/or different types of db) and it would be great to in single binder, something like this:
[code]

This comes from a real-world necessity and I thing some other people would also b

[2018-01-18 23:54] kbrandwijk commented on #75
What you could currently do if you manage your Prisma backends outside of your Graphl Server project, is use `prisma-bindings` and add the Prisma backends as regular endpoints (so without the prisma extension in the config). That way, they would behave like any other endpoint.
It would allow you to add two Prisma bindings to your context. Is your example, you are adding two endpoints to a single b

[2018-01-18 23:57] kbrandwijk commented on #74
@goncy That's exactly how it works.

[2018-01-18 23:58] #74 closed

[2018-01-19 00:05] kbrandwijk commented on #72
Let's explore the possibilities for taking them out of the context. I think it will make the code a lot clearer (less nesting). For cases where something needs to happen for every request, I also don't think the context is the best place. A middleware function seems more suitable. The context is quite a 'heavy' object to pass around to all the resolvers in a large schema, and having these huge bin

[2018-01-19 18:24] maticzav commented on #61
Instead of defining `feed`- field resolver, you should define `feed` type resolver.
[code]
🤞 everything's ok, I have written it here 😄

Bit of explanation:
 - what `A` does is pass no property to Feed resolver. If we were to pass any property down, `a:  'foo'`, for example, like this `feed: () => ({ a: 'foo' })`, the `parent` argument (`C`) would, instead of `{}` have value `{ a: 'foo' }`.

[2018-01-19 18:41] maticzav opened #76 "Same field cannot have new resolver/type."
[code]

[code]
[code]

### Query:
[code]

The following query throws an error (type `Like` under `likes` should have selected sub-fields). I assume this happens because `likes` part of the query gets badly passed down to the `binding`, which then throws an error. Changing the name from `likes` to `post_likes`, for example, solves the problem, but I think it should work with the same name as well.

[2018-01-20 14:00] marktani commented on #76
This might be related to #73 as well.

[2018-01-20 15:45] kbrandwijk commented on #76
This is most probably an issue in the underlying `graphql-binding`. I will investigate, and move the issue if that turns out to be the case.

[2018-01-22 11:59] crazyyi commented on #43
Yes this is very annoying. It takes me a lot of time to debug.

[2018-01-25 18:31] marktani opened #78 "How can I modify the behaviour of a subscription resolver"
Consider this subscription resolver:

[code]

As it is written, it will send events for any mutation to the `Post` model. However, I might want to cover different scenarios:

* _block_ deleted events
* _rename_ the title of the post in the subscription event being sent out

How can I handle these and other scenarios? Basically I want to intercept the subscription event with any custom logic.

[2018-01-25 19:16] schickling commented on #78
There are multiple ways to accomplish this:

1. By writing a custom `AsyncIterator` (see [here](https://github.com/apollographql/graphql-subscriptions#custom-asynciterator-wrappers))
1. By using `withFilter` (see [here](https://github.com/apollographql/graphql-subscriptions#filters))
1. Implement the `resolve` method (see [here](https://github.com/apollographql/graphql-subscriptions#payload-manipu

[2018-01-25 19:21] marktani commented on #78
Thanks so much! 🙏

[2018-01-26 13:16] kbrandwijk commented on #76
The current workaround is to use a different fieldname in your datamodel.

[2018-01-26 19:57] maticzav commented on #76
Thanks, I’ll use the workaround. Do you maybe have any plans to fix this in near future/have idea about when this is going to be resolved?

[2018-01-28 19:46] peterschussheim commented on #7
👋Hi,

What is the status of this issue? I'm trying to understand what is blocking this feature as it seems to be crucial for production services.  I'd be happy to lend a hand with its implementation. 👍

Peter

[2018-01-28 22:29] a-type commented on #75
I have a use case that involves multiple Prisma APIs to bind against. After trying to create two separate `Prisma` objects in context, I noticed that they both ended up pointing to the same schema and endpoint. If I understand the conversation correctly so far, that means @kbrandwijk 's suggestion will not behave as expected.

The problem appears to be rooted in the global variable for `remoteSche

[2018-01-28 23:04] kbrandwijk opened #81 "Prisma binding class should not use global variables"
`typeDefsCache` and `remoteSchema` are currently variables outside the Prisma class (making them global). This is done as a form of 'caching', so generating the remote schema does not happen on every request.

However, at the same time, this makes it impossible to use more than one Prisma binding, because the global variables will be shared across those.

Bindings should be completely isolated fro

[2018-01-28 23:05] kbrandwijk commented on #75
@a-type That is a very good point, thank you for bringing this up. I have created https://github.com/graphcool/prisma-binding/issues/81 for this.

[2018-01-29 00:47] schickling commented on #81
Great point! This should definitely be improved. The caching mechanism is intended however it should cache based on a schema level (so instead of a single cache variable there should be a cache map).

[2018-01-29 00:48] schickling commented on #75
@a-type would you be open creating a PR for this (see #81)?

[2018-01-29 01:00] schickling commented on #7
Hi @peterschussheim! There is nothing blocking this feature besides time. Would be great if you could open a PR for this! 🙏

[2018-01-29 01:58] peterschussheim commented on #7
@schickling can you recommend any resources to get me started in the right direction?

[2018-01-29 02:01] schickling commented on #7
If I understood @timsuchanek correctly, it should be as simple as switching out the `HTTPLink` for this link: https://github.com/apollographql/apollo-link/tree/master/packages/apollo-link-batch-http

[2018-01-29 03:55] a-type commented on #75
@schickling Sure, I'll look into doing that soon. Be advised that I've never written Typescript before, but hopefully this is a fairly trivial change.

[2018-01-29 03:58] a-type commented on #81
Newcomer to the project; Git history shows `graphql-schema-cache` previously used. Was there a reason for dropping it?

[2018-01-29 09:29] RoryKelly opened #82 "Using alias on a request that uses forwardTo("db") returns incorrect data"
Requests
[code]
When running a graphql-yoga server that forwards the requests on to a prisma-cluster, the graphql-yoga server returns this response to the above request:
[code]

when running the same request directly on prisma cluster this is returned.
[code]

The correct result should be the one returned from the prisma cluster ( just above). I think the problem is that the fields are renamed to

[2018-01-29 09:41] marktani commented on #82
Which one is the expected result?

[2018-01-29 11:35] RoryKelly commented on #82
the bottom? do you want me to forward you my schema?

[2018-01-29 11:41] RoryKelly commented on #82
I edited my original post to try and provide some clarity. Let me know if I can provide any further information.

[2018-01-29 11:45] KATT commented on #73
My workaround was to using `input` instead of `data` as the convention in my API Gateway.

Would be nice to fix though, I try to follow the conventions of Prisma in my API Gateway to simplify dev experience

[2018-01-29 14:38] schickling commented on #81
Yes this was based on a different „architecture“ and is now no longer needed. It refers to another kind of cache than this issue describes.

[2018-01-29 16:29] a-type commented on #81
Great, I think that's enough info for me to get started on a PR.

[2018-01-31 10:51] RoryKelly commented on #82
Just some more information. If i bypass prisma-binding and use 'graphql-request' to forward requests to prisma, I get the same behaviour. This would suggest ( to me) the the problem is in graphql-yoga.

[code]

[2018-01-31 21:14] gcangussu opened #86 "Properties from nested mutations not included in response"
I expect the nested mutations to be included in the response of a call to a `Prisma.mutations.create*` type of function when no `info` argument is presented. For example, consider the following prisma data model:
[code]

And the following schema:
[code]

I've defined this resolver using prisma-binding injected on its context as property 'db':
[code]

But the response of `ctx.db.mutation.createUser

[2018-01-31 23:03] kbrandwijk commented on #86
I think just passing through the info argument should work, but I haven't looked at your example in detail.

[2018-02-01 13:32] gcangussu commented on #86
@kbrandwijk If I do this I get an error saying I didn't make a subselection for the `createUser` mutation (`Field 'createUser' of type 'User' must have a sub selection`). I think the info argument from my `signupCompany` mutation is incompatible with Prisma's `createUser`.

[2018-02-02 14:12] marktani opened #88 "Calling prisma after altering field has no effect when the info object is passed."
@Fonz001 commented on [Tue Jan 30 2018](https://github.com/graphcool/prisma/issues/1774)

**Current behavior**

Calling prisma after altering field has no effect when the info object is passed.

**Reproduction**

1. I have a simple Post model, matching with the typescript boilerplate from prisma init.
2. Copied the endpoint: `createPost(data: PostCreateInput!): Post!` from `prisma.graphql`
3. Impl

[2018-02-02 14:15] marktani commented on #88
Hey @Fonz001, thanks for bringing this up, I expect it is an underlying issue in [graphql-tools](https://github.com/apollographql/graphql-tools/), but need to verify this.

Can you try some of the following and see if that resolves the problem?

* rename `data` in `schema.graphql` to `data2`
* replace `return ctx.db.mutation.createPost(args, info)`  by `return ctx.db.mutation.createPost({...args},

[2018-02-02 14:47] timsuchanek commented on #7
Just made a PR :) https://github.com/graphcool/prisma-binding/pull/89

[2018-02-02 15:30] Fonz001 commented on #88
Works! I will use this as a quick fix for now.

Doesn't work!

[2018-02-02 15:39] marktani commented on #88
Thanks, looks like the same as https://github.com/graphcool/prisma-binding/issues/73 (somehow didn't find it before). Closing this one 🙂

[2018-02-02 15:40] marktani commented on #73
I believe this is rooted in a bug in [graphql-tools](https://github.com/apollographql/graphql-tools/), but haven't had the chance to verify yet. If anyone wants to take a stab at looking closer into this, let me know 🙌

[2018-02-02 21:54] #88 closed

[2018-02-06 10:54] ojkelly opened #91 "Export typeDefs from generated prisma.ts"
Hi,

I would like to be able to access `typedefs` in the generated `prisma.ts` file.

Specifically changing the generated file from:

[code]

to:

[code]

I'm happy to make a PR if this is something that would be accepted, and someone can point me in the right direction.

[2018-02-06 14:03] kbrandwijk commented on #91
Yes, that seems like a great addition! Can you move this issue to https://github.com/supergraphql/graphql-static-binding, and if you want to submit a PR, that would be highly appreciated 🙏

[2018-02-07 11:37] #91 closed

[2018-02-09 19:31] marktani commented on #55
Nope, closing this for lack of reproduction.

[2018-02-09 19:31] #55 closed

[2018-02-09 19:56] delta98 opened #101 "module initialization error - subscriptions-transport-ws - Amazon lambda"
I have written a lambda function which is using `prisma-binding` to create new instances of a type `Snippet`

[code]

The instance is setup using the following:

[code]

The result when executing via a GET request to the lambda url or when using a scheduler event is:

[code]

I don't believe this is an intended result.

[2018-02-09 21:13] anonymous-coder commented on #73
not sure why im getting:

    Error: Variable "$_where" got invalid value {"facebookUserId":"xxxxxxxxxx"}; Field
    "facebookUserId" is not defined by type UserWhereUniqueInput.

on this:

     async function facebookUser(parent, { facebookToken }, context, info) {
     let user = null
     try {
       const facebookUser = await getFacebookUser(facebookToken)
       user = await context.db.query

[2018-02-09 21:20] marktani commented on #73
Hey @anonymous-coder, thanks for sharing your problem here 🙂 I believe I sent you here by mistake, now looking at your question again.

It looks like the field `facebookUserId` is missing the `@unique` directive in your datamodel.
Can you add it, then deploy again? This should make the `facebookUserId` argument available for the [unique where selection](https://www.prismagraphql.com/docs/reference

[2018-02-09 21:28] anonymous-coder commented on #73
whenever i put @unique i get this error:

                 throw new Error("Directive " + directiveName + ": Couldn't find type " + directiveName + "
        in any of the schemas.");
                ^

     Error: Directive unique: Couldn't find type unique in any of the schemas.

this was a issue i had with just the Id field.

    # import Post from "./generated/prisma.graphql"

     type Query

[2018-02-09 21:32] marktani commented on #73
You need to add `@unique` to your *datamodel*, which is often called `prisma.graphql`, or `types.graphql`, not your *application schema*, which is often called `schema.graphql` 🙂

[2018-02-10 17:08] timsuchanek commented on #101
Thanks for reporting @delta98 ! Are you using something like serverless to host the function?
We are running prisma-binding successfully in lambda through `up`.
Another question: Are you using typescript?
Thanks!

[2018-02-11 18:06] lueurxax commented on #82
I'm sad, it's stopper for me

[2018-02-11 19:27] schickling commented on #82
@RoryKelly @lueurxax we'll be looking into this! Sorry about the inconvenience!

[2018-02-12 05:10] a-type commented on #8
I was also feeling less than satisfied doing authorization in the resolver layer, so I took a swipe at implementing an authorization wrapper for Prisma:

https://github.com/a-type/prisma-authorized

It's very much an experiment, but I'm fairly proud of what I was able to accomplish in a week while working outside of Prisma itself. It's basically a layer which wraps a Prisma instance and applies au

[2018-02-12 08:52] delta98 commented on #101
hey @timsuchanek using serverless and typscript, would you be able to share your config through `up`? It's a scheduled task.

[2018-02-12 09:09] RoryKelly commented on #82
No worries,

For people that have the same issue, I managed to work through it by using graph-QL requests to forward requests to Prisma. It allowed me to simplify the API exposed to the clients, at the cost of poorer performance, as you lose the ability to select fields on the Prisma requests.

It's definitely a workaround, but it works for my use-case. I just return all fields and let yoga filter

[2018-02-12 10:35] marktani commented on #82
Thanks for sharing the workaround, @RoryKelly! 🙌 That's super helpful.

We recently published [a blog post](https://blog.graph.cool/graphql-server-basics-demystifying-the-info-argument-in-graphql-resolvers-6f26249f613a) with more information on the `info` object! 🙂  This example also contains many different uses and patterns for resolvers: https://github.com/graphcool/graphql-server-example

[2018-02-12 10:57] delta98 commented on #101
I've carried out some further investigation. Taking the bundled zip which is sent to AWS, running it on the command line, it runs successfully. But not within the lambda env.

[2018-02-12 13:06] delta98 commented on #101
It may also be due to Node.js 6.10 being default for serverless... will update default engine and report back.

[2018-02-12 13:30] kbrandwijk commented on #8
What we basically need is to expose a method to add GraphQL middleware. This should probably be done on the `graphql-yoga` level, for the entire public schema, and/or in `graphql-binding` for individual bindings. I have had very good results using https://github.com/alekbarszczewski/graphql-add-middleware in my previous HOC framework. I believe that approach is the way forward: the ability to add

[2018-02-12 14:07] ForsakenHarmony commented on #8
I feel like it would be more efficient for the prisma server to do permissions, because it resolves the queries including nested objects

[2018-02-12 14:08] maticzav commented on #8
I like the Yoga-level approach. Moving permissions to Prisma would make debugging way to difficult and extremly hard to implement custom authorisation mechanisms.

[2018-02-12 14:15] ForsakenHarmony commented on #8
How about role based permissions on prisma, but you have to manage authentication in your app

[2018-02-12 14:29] schickling commented on #8
@ForsakenHarmony these are two different issues. See https://github.com/graphcool/prisma/issues/1768 for permission support in the Prisma layer.

@kbrandwijk I'd even go a step further and suggest a middleware library that acts on a schema level (maybe similar to [graphql-stack](https://github.com/graphcool/graphql-stack)). To make the usage easier, `graphql-yoga` could support this out of the box

[2018-02-12 15:54] a-type commented on #8
@schickling If I were able to hook into some kind of middleware system for a `prisma-binding` query call, based on my implementation so far, I'd probably be looking for the following changes...

* Prisma needs to support context of some sort in its queries and mutations. The middleware needs to somehow be aware of the currently authenticated user. I'm guessing it's pretty common for developers to

[2018-02-12 18:51] lueurxax commented on #82
This is a bad attempt, because Prisma has only ten threads...
[code]

[2018-02-12 19:22] lueurxax commented on #82
I find the best way. For query

[code]

in resolvers/index.js
[code]

post resolver
[code]
You can extend this example.

prisma-bidding: renaming -> you: reverse renaming -> graphql-yoga: renaming

[2018-02-14 01:40] tbrannam commented on #78
I'm confused how `withFilter` would function in conjunction of `return ctx.db.subscription.post({ }, info)` - most of the example use cases of `withFilter` are tied to returning an `AsyncIterator` - is that the responsibility of `ctx.db.subscription` somehow?

[2018-02-14 20:28] tbrannam commented on #78
`withFilter` seems to need some handholding to work as I would expect.   `withFilter` requires a resolved `AsyncIterator`, but `ctx.db.subscription.link` returns a Promise<AsyncIterator> - so you have to `await`.     Finally I was surprised that I have to invoke the function `filteredSubscription` on the return - it feels like this is different than the usual examples that leverage PubSub - where

[2018-02-15 15:05] nickluger opened #106 "Stalled data, global usage of http-link-loader and facebook data loader"
This issue might be also caused by a misuse by `prisma-binding`.

https://github.com/graphcool/http-link-dataloader/issues/3

[2018-02-16 02:56] tbrannam opened #108 "filtering subscriptions `withFilter`"
building on issue #78.  `withFilter` seems to need some handholding to work as I would expect. withFilter requires a resolved AsyncIterator, but `ctx.db.subscription.link` returns a Promise - so you have to await. Finally I was surprised that I have to invoke the function `filteredSubscription` before the return - it feels like this is different than the usual examples that leverage PubSub - where

[2018-02-16 05:01] nickluger commented on #106
Was a problem with `http-link-dataloader` indeed.

[2018-02-16 05:01] #106 closed

[2018-02-16 07:28] xang555 commented on #86
same problem

[2018-02-16 10:05] schickling commented on #86
We'll look into this! 👀

[2018-02-16 12:36] gcangussu commented on #86
A tool that could allow us to easily take information from the `info` argument of the resolver would be useful  on these cases I think. I thought about something like this:
[code]
I tried searching for a tool like `pluck` in my example, but failed to find anything. Then I also started studying the `info` structure to do it myself, but was overwhelmed by its complexity and couldn't put more time in

[2018-02-16 13:40] schickling commented on #86
That's an interesting idea @gcangussu. Could you open a new issue for this and elaborate a bit further with a few examples?

[2018-02-16 13:50] hoodsy commented on #106
@nickluger do you have a solution for this issue? I've been tracking over here: https://github.com/graphcool/prisma-binding/issues/106

[2018-02-16 14:51] nickluger commented on #106
Not really, you could create a new `prisma-binding` instance for the second request, which will contain a new instance of the `http-link-dataloader` (with empty cache), instead of using the prisma instance passed in the request.

[code]

[2018-02-16 15:19] hoodsy commented on #106
thanks! I'm going to give this a shot.

[2018-02-16 17:39] RobinsonKameron opened #110 "dependency issues when running yarn and using version 1.5.10"
Has anyone else gotten this issue
[code]
when running
```yarn```

since I upgraded
``` prisma-binding```
to
```1.5.10```
I've gotten that output unless I
```rm -rf yarn.lock```
and run
```npm install```

[2018-02-16 23:03] steida opened #111 "Please update graphql dependency to 0.13.1"
graphql 13.0.0 is broken

https://github.com/este/este/issues/1466#issuecomment-366383204

Btw, why the lib has fixed dependencies? It should follow semver imho.

[2018-02-16 23:10] steida commented on #111
Ok, I think I got it. Please use ^ in your graphcool/* dependencies. It's fixed in multiple places having fixed dependencies breaks everything.

[2018-02-17 15:12] schickling commented on #111
I've now moved `graphql` to `peerDependencies`, so it should work for you.

[2018-02-17 15:12] #111 closed

[2018-02-17 18:59] steida commented on #111
@schickling Finally 😂 Thank you.

[2018-02-17 22:32] a-type commented on #8
@maticzav After doing a lot of thinking and speaking with others on the subject, I'm definitely leaning toward your approach! I think I was going way overboard trying to get granular field-level auth on the service layer. It's far easier just to make your public facing API thoughtfully, and assign scopes to users to allow them permissions at the root field level. I'm implementing that with your li

[2018-02-20 13:20] zifahm opened #112 "had to downgrade to 1.5.7 from 1.5.12 .. errors occuring at 1.5.8 and above"
this is the error i am getting if i had binding at 1.5.8 and above so i had to downgrade to 1.5.7 !!
how do solve this issue?

`Cannot use GraphQLSchema "[object Object]" from another module or realm.

Ensure that there is only one instance of "graphql" in the node_modules
directory. If different versions of "graphql" are the dependencies of other
relied on modules, use "resolutions" to ensure onl

[2018-02-21 17:35] marktani commented on #112
hey @zifahm, could you try [following these steps](https://github.com/graphcool/graphql-yoga/issues/162#issuecomment-367368045)? 🙂

Please let me know if that doesn't resolve the issue.
Thanks! 🙏

[2018-02-22 06:09] ramsaylanier commented on #106
@nickluger I can confirm that this solution works.

[2018-02-22 10:54] marktani opened #114 "Scalar lists are not queried if the info object is omitted"
Omitting the `info` object from a query is supposed to fetch all scalar fields. This does not seem to be the case for scalar list fields.

Consider this Prisma data model:

[code]

If I run this resolver:

[code]

The result contains `id` and `title`, but not `page`.

My understanding is that this is an unintended bug. Please let me know if this is intended 🙂

[2018-02-22 13:20] marktani commented on #114
Moved here: https://github.com/graphql-binding/graphql-binding/issues/56

[2018-02-22 13:20] #114 closed

[2018-02-23 13:20] mzygmunt commented on #86
same

[2018-02-23 14:13] zifahm commented on #112
@marktani  I get this error now , Unexpected token < in JSON at position 0

[2018-02-23 14:24] zifahm commented on #112
had to update prisma-binding to latest , and do npm i  , solved the issue :+1:

[2018-02-24 17:02] callmekatootie opened #117 "How to add / remove an item from a list"
My Schema is as follows (using Prisma):

[code]

My question is how can I add an item to the follows attribute using the resolver function? I assume it to be something like:

[code]

I looked up the documentation but could not find information about this. Any hints?

[2018-02-25 22:31] gcangussu opened #118 "Manipulate resolver's info argument to optimize database access"
## The problem

Let's say we have this schema for Prisma:

[code]

And this application schema:

[code]

The resolvers of this application then could be:

[code]

This looks right for most programmers, but it will lead to errors in queries for signup that require the `user.company` in the response.

[code]

The error is `Cannot return null for non-nullable field User.company`. It happens because t

[2018-02-25 22:34] gcangussu commented on #86
@schickling I've done this on #118. But with only one example, I will try to add other examples later.

[2018-02-26 10:16] nikolasburk commented on #117
Hey @callmekatootie, if I understand correctly what you're looking for is a [nested mutation](https://www.prismagraphql.com/docs/reference/prisma-api/mutations-ol0yuoz6go#nested-mutations).

In your case, if the user does not exist yet, the mutation would have to be written as follows:

[code]

If you want to add a `User` that already exists, you need to use `connect` instead of `create` and provi

[2018-02-26 10:16] #117 closed

[2018-02-26 10:20] callmekatootie commented on #117
:+1: Thanks!

I actually did not expect `connect` to add to a list. I thought it was meant for more of a 1:1 kind of a relation and not for a 1:n but that totally worked for me. In case anybody comes across this ticket, then note that the procedure to remove an item from a list is to use `disconnect` - just as one would use `connect`.

[2018-02-26 18:57] #101 closed

[2018-02-26 19:00] delta98 commented on #101
This was a local build issue caused by the way npm builds for local binaries, there are 2 potential solutions:

1) Use[ serverless-plugin-optimize](`https://github.com/FidelLimited/serverless-plugin-optimize`) which will compile and browsify your code - thus not requiring node_modules - smaller binary to upload too 🙏
2) Use docker to precompile the node modules similar to https://github.com/graphc

[2018-03-02 08:38] timsuchanek commented on #82
Thanks for reporting @RoryKelly & @lueurxax  we did a recent fix that seems to have fixed it. It's available in `prisma-binding@1.5.15`. Can you give it a try? Thanks!

[2018-03-02 09:32] RoryKelly commented on #82
I'll give It a shot today and let you know if it works.

On Fri, 2 Mar 2018, 08:38 Tim Suchanek, <notifications@github.com> wrote:

[2018-03-02 18:09] gcangussu commented on #118
I was able to implement a working version of this tool, but I couldn't do it without adding more arguments to the `pluck` call signature:
[code]

Nevertheless, it works. So you could do in the latest example:
[code]

If you need to enforce the query of a specific field you can, just use the `required` argument. For example if you must get the user id, user password and its company id you would do:

[2018-03-02 18:11] gcangussu commented on #118
To solve this repetitive pattern
[code]
We could declare a new interface such as
[code]
And make the prisma bindings methods accept `string | GraphQLResolveInfo | PluckGraphQLResolveInfo` for its info arguments. Inside the bindings methods the operation, root field and schema are already available, so they could easily make the manipulation.

Then we would be able to do just this
[code]
Or this if

[2018-03-04 12:17] schickling commented on #73
Thanks a lot @divyenduz and @timsuchanek for digging into this. Looking forward to a fix @freiksenet! 🎉

[2018-03-05 10:58] maticzav commented on #76
Fixed.

[2018-03-13 07:30] lastmjs commented on #8
Hopefully directive permissions will be considered here, as I believe they are a most elegant solution to this discussion.

https://blog.graph.cool/graphql-directive-permissions-authorization-made-easy-54c076b5368e

https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044

[2018-03-15 15:06] RoryKelly commented on #82
I can confirm that this appears to be fixed for me. Also, @lueurxax's workaround is way better than mine. I didn't understand how custom type resolvers work. Thanks @marktani for the link really cleared up how to define an application schema in front of the one exposed by Prisma.

[2018-03-15 15:11] marktani commented on #82
Awesome, glad that cleared things up :) Thanks for confirming, I'm closing this now.

[2018-03-15 15:11] #82 closed

[2018-03-19 15:55] k00k opened #127 "Params are not being passed through via forwardTo('db')"
When using `forwardTo('db')` to pass a db query through to the `graphql-yoga` server, the params available on the db side aren't made available on the yoga side.

For example, from `Query.ts`:

[code]

The following query will work fine in the Playground when using the db (Prisma Cloud), but not when using our graphql-yoga endpoint:

[code]
Error message received:
[code]
Here's a video screen cap

[2018-03-19 16:00] marktani commented on #127
Can you share the definition for the `grades` query in your application server's `schema.graphql`?

[2018-03-19 17:01] k00k commented on #127
From `schema.graphql`:

[code]

[2018-03-19 17:06] marktani commented on #127
Ah, that's probably the explanation. Please try this instead:

[code]

Note that if you want to add more inputs like `skip` or `first`, you need to add them to this query declaration in a similar fashion.

I expect this problem to be resolved with this adjustment, let me know if that's not the case 🙂

[2018-03-19 17:31] k00k commented on #127
Yes, that was it, works as expected now. Feel free to close this issue.

[2018-03-19 22:35] marktani commented on #127
Great!

[2018-03-19 22:35] #127 closed

[2018-03-27 05:21] lionstone commented on #127
I'm having the same issue. Does this mean that I have to manually declare the all those imports for each resolver I'm forwarding? Feels like the kind of boilerplate I'm trying to avoid by using `forwardTo('db')` in the first place unless i'm mis-understanding?

[2018-03-27 16:52] nsignes opened #131 "Prisma breaking Prisma Subscription for any created/updated Entity"
Hi,
I encounter a weird behavior where I can reliably break Prisma's subscription by using Prisma Binding to create or update an entity.

As long as I stay into Prisma API, I can create, update and delete an entity, with Prisma subscription firing up every time.

But if I use Prisma Bindings in a GraphQL-Yoga Backend, any entity created or updated by the backend's mutation will no longer trigger s

[2018-03-27 19:54] marktani commented on #131
Hey @nsignes, thanks a lot for bringing this up, and for the detailed descriptions.

Can you prepare a repository that showcases the steps necessary to reproduce this? Please include the necessary mutations and subscriptions (and to which endpoint) as well.

This will make it easier to pin down the component that is responsible for this behaviour.

Thanks a lot :raised_hands:

[2018-03-29 15:58] timsuchanek commented on #108
Hi @tbrannam thanks for asking that question and sorry for getting back so late!
Your implementation looks correct.

That you have to call the result of `withFilter` lies in the fact, that it is intended to be used directly as a resolver. So the function, that `withFilter` is returning, has a resolver signature, as you can see here https://github.com/apollographql/graphql-subscriptions/blob/master

[2018-03-29 15:58] #108 closed

[2018-03-30 07:13] FredyC commented on #108
I have made my own kind of `withFilter` that is more like `filter` + `map`. I was a rather big struggle at the beginning, but at least now I understand how AsyncIterator works and it works really well.

[code]

And then I can write resolver that either returns null to ignore that change or transform it to required result.

[code]

[2018-03-30 08:17] FredyC commented on #78
I have another question related to this regarding the `info`. Consider the following where I want to return an actual type instead of that whole subscription payload as a client doesn't need to know other details about a subscription (eg. kind of mutation, changed fields...).

[code]

On the resolver side, it means that `info` argument is structured based on my input query and cannot be passed to

[2018-04-01 00:07] schickling commented on #118
Thanks a lot for bringing this up and creating a PR @gcangussu! We'll look into this shortly!

[2018-04-01 00:08] schickling commented on #78
You're exactly right, @FredyC. This should be a lot easier and will in fact become easier once this issue is tackled: https://github.com/graphcool/prisma-binding/issues/118

[2018-04-01 01:19] schickling commented on #108
Thanks a lot for sharing this code @FredyC. We should probably think about how we could make this easier – possibly through a utility function.

[2018-04-04 08:11] tibotiber opened #133 "Get bindings for a graphql-yoga api"
Hi, I just wanted to highlight I've used this to wrap my graphql-yoga api as well. I have multiple microservices in my setup and some of them now use a prisma-binding to query / mutate stuff from yoga.
[code]
This was just way simpler than managing to get `graphql-binding` working with a remote schema.

So questions:
- Am I grossly missing something?
- Should a `remote-graphql-binding` be extracte

[2018-04-07 15:07] schickling commented on #133
Thanks a lot for bringing this up @tibotiber. We're currently working on improved tooling to create your own GraphQL bindings. Expect something shortly which hopefully solves your question!

[2018-04-08 14:44] timsuchanek commented on #118
Thanks for moving this discussion forward so far! We just found fundamental limitations with this approach, that I describe here: https://github.com/graphql-binding/graphql-binding/issues/80

[2018-04-09 00:27] tibotiber commented on #133
Neat, looking forward to it. Feel free to close the issue when you feel it's appropriate.

[2018-04-09 07:48] timsuchanek commented on #78
@FredyC if I understood you correctly, you have a subscription to the underlying service like this:
[code]
and want to expose this:
[code]
This means, that the `info` object of the resolver for the `fight` subscription will contain a query like this:
[code]
but the underlying service needs to receive this:
[code]

In other words, the received query needs to be "embeded" into another query / we nee

[2018-04-09 09:45] jhalborg commented on #7
Merged but still open, oversight or intentional? :-)

[2018-04-09 09:56] FredyC commented on #78
You are correct on input information. However, I want to watch for changes in different fields than those requested by the client. I did not realize that before mainly because subscriptions are a bit confusing about this. Data you request will be watched for changes and that's not always what you want.

[code]

I don't have any big issue with this right now, it's just kinda unintuitive and I had t

[2018-04-13 04:29] matthewdschulman commented on #43
We are getting this same issue. Any update @marktani ?

[2018-04-17 02:19] bazaglia opened #136 "Querying flexibility: custom resolvers?"
The way to handle nested fields (populate) in prisma-binding is to pass `info` as the second param to the query. This completely makes sense as info includes the fields asked by the GraphQL client. Then, prisma-binding generates the equivalent database query execute it. In case of MySQL, it would query with the correct join's.

My only question is about **flexibility**.

In this example, consider

[2018-04-18 11:46] nikolasburk opened #139 "Subscriptions with `where` filter don't work"
Here's the link to a repository that describes how to reproduce the issue in the README: https://github.com/nikolasburk/subscriptions-issue

[2018-04-18 12:42] marktani commented on #139
I can reproduce the issue.

[2018-04-18 20:56] dsoraluz-carecloud opened #140 "Querying Enum Values From Prisma Context"
Question for you guys, is there a way to return the enumerated values for a custom type in a query using the context object in Prisma?

The query in the playground looks like the following:

[code]

But I am having trouble achieving it through the context object query.

I would imagine there would be something like...

`ctx.db.query.__type({enumValues: "UserRole"})`

but there doesnt seem to be. C

[2018-04-19 09:11] heymartinadams commented on #3
Just an idea, perhaps for consistency’s sake? Both queries and mutations use `where: {...}`: it would be helpful to keep that pattern for `db.exists`.

[2018-04-19 12:50] marktani commented on #140
Hey @dsoraluz-carecloud, thanks for bringing this up!

As far as I know, the `__type` query is not available on `ctx.db.query` - I don't see a reason why we shouldn't add it though!

The [`ctx.db.request`](https://github.com/graphcool/prisma-binding#request) presents a good approach to accomplish what you want - it looks like this:

[code]

[2018-04-19 20:30] dsoraluz-carecloud commented on #140
Just tested this and it works  but having the `__type` query on `ctx.db.query` would be a useful addition.

[2018-04-23 08:18] ar1a commented on #139
I have this also

[2018-04-23 09:35] marktani commented on #140
For anyone interested to provide a PR for this, this would be added to [`graphql-binding`](https://github.com/graphql-binding/graphql-binding).

[2018-04-23 17:30] hereisnaman commented on #7
@timsuchanek how to implement the caching and batching?

[2018-04-25 07:44] nikolasburk opened #141 "`Prisma` constructor should work without a `secret` option being provided"
When trying to instantiate a `Prisma` instance without a secret like this:

[code]

I'm getting this error message:

[code]

[2018-04-25 08:26] #141 closed

[2018-04-25 08:27] nikolasburk commented on #141
👏 ⚡️

[2018-04-28 20:40] Fi1osof opened #143 "Syntax Error GraphQL request (82:1) Unexpected String"
Prisma 1.6.3
prisma-binding 1.5.13+ Error
[code]

[2018-05-01 11:29] schickling commented on #7
@hereisnaman batching is already implemented in the `prisma-binding`. Can you describe the kind of caching you'd like to implement?

[2018-05-01 11:41] schickling commented on #140
I really like the idea of adding `query.__type` to the underlying graphql binding. Can you open a issue for this @dsoraluz-carecloud?

[2018-05-01 11:44] schickling commented on #139
This should be fixed with Prisma 1.7.

[2018-05-01 11:44] #139 closed

[2018-05-01 12:01] schickling commented on #43
We'll be looking into it @matthewdschulman! Which version of `prisma-binding` and `prisma` are you using? Do you have a reliable way to reproduce this error?

[2018-05-01 13:12] schickling commented on #3
@heymartinadams do you have any other arguments besides `where` in mind that should go there?

[2018-05-01 14:44] dsoraluz-carecloud commented on #140
Sure thing, I will open an issue now.

[2018-05-01 14:44] #140 closed

[2018-05-01 14:49] dsoraluz-carecloud opened #150 "Adding query.__types to the underlying graphql binding"
Currently there is a work around to querying type values using `ctx.db.request`  and it looks like the following:
[code]

A better solution would be something like the following:
`ctx.db.query.__type({enumValues: "UserRole"})`

Can we see this feature added to the underlying graphql binding in a future release?

[2018-05-02 11:01] heymartinadams commented on #3
No, @schickling. But as someone who’s still a little green behind his ears when it comes to GraphQL, I might not be the right person to ask 😉

[2018-05-03 11:54] heymartinadams commented on #139
Slightly unrelated since this applies to Prisma Cloud, but posting a link here for additional visibility (took me two days to find this crucial piece of information):

Upgrading the Prisma Cloud server (over at `https://app.prisma.sh/__WORKSPACE_SLUG__/clusters`) to v1.7 will resolve this issue.
https://github.com/graphcool/prisma/issues/2277#issuecomment-384557788

[2018-05-04 07:45] marktani commented on #143
Thanks for reporting this @Fi1osof!

Can you provide more information to make reproduction easier? :)

[2018-05-04 14:47] medelman17 opened #152 "Exists Operation Throws TypeError"
The following code, which used to work fine, now throws a TypeError: "cannot read property 'call' of undefined":

`const exists = await ctx.db.exists.Media({ localSource })`

Stack: prisma/1.7.4 (darwin-x64) node-v9.8.0

[2018-05-04 14:49] marktani commented on #152
Thanks for the bug report! 🙂

Can you share the following details:

* datamodel
* value of `localSource`
* version of `prisma-binding`

A minimal reproduction repo would be very helpful as well!

[2018-05-04 15:17] medelman17 commented on #152
Sure, but before I do, let me just note that if I change the `super` to `self` in following code in the generated `prisma.js` file, it works as expected:

[code]

[2018-05-05 17:25] schickling opened #153 "Feature idea: Schema transformations"
With the new graphql-binding + `graphql codegen` architecture, it's possible to apply schema transformations before Prisma bindings are generated. This would allow for the following (and more) use cases:

- Hide/add certain fields, types or arguments from the schema
- Generally transform the generated schema to match a more opinionated schema structure

This could either be done by forking the `pr

[2018-05-05 17:28] schickling opened #154 "Feature request: Flow types generator"
Right now the `prisma-binding` generator just supports `javascript` + `typescript`. It would be great if someone would be open to contribute support for flow types.

[2018-05-05 17:28] schickling opened #155 "Feature request: Reason types generator"
Right now the `prisma-binding` generator just supports `javascript` + `typescript`. It would be great if someone would be open to contribute support for Reason types.

[2018-05-05 18:58] medelman17 commented on #152
This issue may be solved by undertaking the following steps:

1. Install `graphql-cli@2.16.0-beta.6` & `prisma-binding@1.6.0-beta.16` (global installations of `graphql-cli` may need to be upgraded, too).

2. In `prisma.yml`, add `graphql codegen` as a post-deploy hook.

3. In `.graphqlconfig.yml`, configure `codegen` to use `prisma-binding` as its generator.

4. Import `{ Prisma }`  from "../gener

[2018-05-05 18:58] #152 closed

[2018-05-05 19:58] medelman17 commented on #154
I'll take a crack at this.

[2018-05-10 13:58] marktani opened #159 "Add documentation for "fragments" element of a resolver"
You can use `fragments` for example for computed fields.

Example: https://github.com/graphcool/graphql-server-example/blob/master/src/resolvers/Home.ts#L5

`fragments` is used to ensure availability of data in the resolver independently of the actual incoming query.

This should be covered by documentation + examples.

[2018-05-11 06:15] wuzhuzhu opened #162 "[2.0]Cannot convert undefined or null to object"
All previous working query down when upgrade prisma-binding to 2.0.0 from 1.5.19.
Err:
[code]

[2018-05-11 08:57] schickling commented on #162
Thanks a lot for reporting this @wuzhuzhu! Can you please provide a minimal reproduction repo? We'll look into this asap!

[2018-05-11 12:02] overpod commented on #162
**Here it is possible to reproduce**
https://github.com/graphql-boilerplates/typescript-graphql-server.git

[2018-05-11 15:22] marktani opened #164 "Issue with Prisma binding"
@OGNeutron commented on [Fri May 11 2018](https://github.com/graphcool/prisma/issues/2399)

When I graphql-prepare I am getting a type issue with Prisma in prisma.ts
[code]

---

@marktani commented on [Fri May 11 2018](https://github.com/graphcool/prisma/issues/2399#issuecomment-388392076)

Please share a minimal reproduction so we can look into this 🙂

---

@OGNeutron commented on [Fri May 11 20

[2018-05-11 19:39] abelovic commented on #164
I am getting this as well... the post deploy hooks don't seem to work :(

If I run in a script: "prisma deploy && graphql get-schema && graphql prepare" it generates the file as expected

[2018-05-12 16:08] timsuchanek commented on #162
@wuzhuzhu @overpod I just tried to reproduce the problem, but couldn't.
Can you share a repo with the exact app & the query you're trying to execute?
Note that you should replace `prepare` with `codegen`.
Here I did the necessary steps to get it running with the basic example & prisma-binding@2:
https://github.com/graphql-boilerplates/typescript-graphql-server/compare/prisma-binding2

You can see

[2018-05-12 16:12] timsuchanek commented on #164
Thanks for reporting! `prisma-binding@2` is not meant to be used with `graphql prepare`, but `graphql codegen`. My apologies if we didn't communicate that clearly.
To make `graphql codegen` possible, you also need to configure your `.graphqlconfig.yml`.
Here is an example of a running project that uses `graphql codegen` together with the new `prisma-binding@2`:
https://github.com/graphql-binding/g

[2018-05-13 10:49] kriswep commented on #162
Had the same problem with an typescript-prisma project after upgrading to prisma-binding@2.0.0

Can confirm that switching the config in prisma.yml and .graphqlconfig.yml and running `prisma deploy` fixed it for me.

For reference:
`./database/prisma.yml`
[code]

`./.graphqlconfig.yml`
[code]

[2018-05-14 10:40] OGNeutron commented on #164
Alright might need a slight guide on how to implement this because the example is a bit different to mine, I copied the part of the graphqlconfig.yml relevant to Prisma, but it doesn't seem to generate now with graphql get-schema or graphql codegen but run fine without errors.

[2018-05-14 16:48] abelovic commented on #162
@kriswep @timsuchanek - Unfortunately this did not work for me :( The only thing based on this snippet that I have that is different is I am using plain javascript instead of typescript.

I have had issues with the hooks running as well - see here: https://github.com/graphcool/prisma-binding/issues/164 so to make sure the hooks ran (graphql get-schema && graphql codegen) - I put it in my npm scrip

[2018-05-14 16:58] abelovic commented on #164
@timsuchanek - I am having trouble getting this to work as well using the graphql boilerplates structure that most of us are using. Here is my graphqlconfig:

projects:
  app:
    schemaPath: src/schema.graphql
    extensions:
      endpoints:
        default: http://localhost:4000
  db: #Is this supposed to be "db" or "database" - was database before? I tried both btw
    schemaPath: src/generate

[2018-05-14 21:11] abelovic commented on #164
Running this doesn't give the error but doesn't generate the file either which I think is what @OGNeutron is running into as well:

[code]

[2018-05-14 23:50] steve-a-jones commented on #164
Running into similar errors .. `Type '{}' is not assignable to type 'GraphQLResolveInfo'.` `Property 'fieldName' is missing in type '{}'.`.. etc..

Would also love some clarity and better documentation around these configs... they are fairly esoteric and difficult to reason about. I would almost rather just have a few scripts to imperatively generate everything instead :)

[2018-05-15 08:31] OGNeutron commented on #164
Still haven't got it working with my current project, also not getting any errors or generated files, I tried different setups, I can get graphql prepare working, but codegen just runs and shows nothing.

[2018-05-15 13:50] SpaceK33z commented on #164
[These docs](https://www.prisma.io/docs/reference/service-configuration/prisma.yml/yaml-structure-ufeshusai8/#hooks-(optional)) are also out of date now. I'd help update the docs except I don't understand how `prisma-binding@2` works at all.

[2018-05-15 15:52] abelovic commented on #164
The whole 1.8 release seems too rushed considering there are so many breaking changes. This has caused so many problems for me. I pay for the prisma cloud and the whole point of this is so I can forget about it and it just works. This has been far from the truth. This is now consuming 90% of my time because it seems like every time I upgrade something breaks. Since this is the DAL/ORM (or whatever

[2018-05-16 02:08] zachlysobey opened #166 "Importing into a Typescript project with implicitAny: true causes compile failure"
When importing this project from my own typescript project, I'm getting `[...]  implicitly has an 'any' type` errors when I try to compile.

The errors seem to originate from `graphql-binding` (*so maybe that's where I should be inquiring?*). But when I ran a similar experiment with that library, and it compiles with no issue.

Any help/insight would be greatly appreciated :)

### `package.json`

[2018-05-16 15:51] marktani opened #167 "Python Support"
I've talked to many developers who'd like to see Prisma Bindings support for Python.

While, generally, there is no blocker to connect to Prisma using Python, a dedicated package would provide a lot of value.

[2018-05-16 16:01] zachlysobey commented on #166
I put that all into a repo in case someone wants to pull it down and take a look
https://github.com/zachlysobey/prisma-binding-test

[2018-05-16 16:45] alvis commented on #164
After hours of researching, the following finally seems working for graphql-binding/prisma-blinding 2.0.

[code]

**Note: the `.graphqlconfig.yml` above is for graphql-binding/prisma-blinding 2.0 only. For 1.x, users can refer to the now completely outdated doc...**

[2018-05-16 16:56] sorenbs commented on #164
@abelovic, @alvis and everybody else who has had a frustrating experience with the 1.7 and 1.8 releases:

You are absolutely right! Our release process has been too hectic and unfortunately this has resulted in us releasing buggy software and not being able to update the documentation in time.

We are doing two things to address this issue:

1. We are investing heavily in updating existing documen

[2018-05-17 00:51] alvis commented on #164
Got a problem with importing other .graphql files into the schema. With code gen, `prisma-binding` at the moment skips the import syntax in line 73:
https://github.com/prismagraphql/prisma-binding/blob/ef7fc575a8a5473db2f48574c488c71ca181bf9f/src/bin.ts#L71-L86

To fix it, we should wrap it with `importSchema` from `graphql-import`, i.e.
[code]

@sorenbs: should I make a quick PR to fix it?

[2018-05-17 09:40] timsuchanek commented on #164
Thanks for the suggestion @alvis ! Yes, it would be awesome if you could do a PR for that :)

@abelovic : In the new prisma.yml you also need to add the following lines of code:
[code]

Here is a running example: https://github.com/graphql-binding/graphql-binding/blob/master/examples/full-example/prisma.yml

[2018-05-17 10:56] alvis commented on #164
I think the input field is unnecessary i.e. this should work
[code]

My suggestion is to have the hook setup in your `prisma.yml`.
[code]

Then run `prisma deploy` to update and generate all desired files.

[2018-05-17 11:12] OGNeutron commented on #164
I've done that, I have added the input field, since I wrote that post, but it seems not to be working, also lately prisma deploy hasn't been working, but running the graphql commands are working, get-schema runs perfectly, but codegen isn't working at all, if you want to clone my repo and give it a spin, I must be missing something.

[2018-05-17 11:47] alvis opened #168 "[bug] not importing related .grapgql files during codegen"
With 2.0, related .graphql files are no longer imported into the schema when we run `graphql codegen`. It is due to a bug that `prisma-binding` do not handle any import syntax at the moment. See line 73:
https://github.com/prismagraphql/prisma-binding/blob/ef7fc575a8a5473db2f48574c488c71ca181bf9f/src/bin.ts#L71-L86

To fix it, we should wrap it with `importSchema` from `graphql-import`, i.e.
[code

[2018-05-17 12:09] alvis commented on #164
@OGNeutron check out my fork of your repo
https://github.com/alvis/Prisma_main_hub

It be working by running `npm run deploy`.

[2018-05-17 15:56] abelovic commented on #164
@timsuchanek - yes I had the hooks but the problem I and @OGNeutron have is those hooks are not executing once prisma deploy finishes. They say they do (with no errors) but do not actually update either the prisma.graphql or the prisma.js files :(

I have rolled back to 1.7.4 and prisma-binding 1.5.19 for my project in the meantime. Everything works as expected so I suspect there is something goin

[2018-05-17 17:37] OGNeutron commented on #164
The changes didn't help, I still get the same response √ Code for project db generated to src/generated/ts-prisma.ts when doing graphql codegen and still not generating files, it's a weird issue.

[2018-05-17 19:33] alvis commented on #164
@OGNeutron have you tried to clone the repo and redo everything from the start?

[2018-05-17 20:06] OGNeutron commented on #164
Cloned it, changed to my endpoints and so on, but I still can not get it to generate the prisma-bindings, nothing wrong with the graphql get-schema, are you saying you got it working? Because I couldn't with the forked version.

[2018-05-18 08:05] alvis commented on #164
🤔 I tried to clone the repo to my another computer and it works as expected. I've node 10.1 both set up in my computers, but I don't think it's the cause.

@OGNeutron: did you run `npm run deploy` or simply `graphql codegen`?
@agonbina: are you using my repo?

[2018-05-18 08:49] OGNeutron commented on #164
Yeah, I've done it both ways, I've prisma deployed it and graphql codegen and I get the same response and I am also Node 10.1, and actually graphql get-schema only works if I do it manually, it doesn't work if I do prisma deploy, neither command works.

I get the same for the forked version and the one I've changed to be the same.

[2018-05-18 08:56] agonbina commented on #164
I had two issues but now it is working 👍

First one was that `prisma-bindings` is using `yargs@11.x` and I had another top level dependency which was using a way older version of `yargs. `npm` installed only the older one when it flattened out dependencies so obviously prisma-bindings was throwing exceptions.

Second one was that the syntax I was using in the `graphqlconfig.yml` was wrong, specifi

[2018-05-18 09:31] OGNeutron commented on #164
Can you show your graphqlconfig.yml so I can compare with mine, maybe I have similar issue as-well?

[2018-05-18 09:55] marktani commented on #166
Thinks for bringing this up, @zachlysobey!

Where possible, the types should be stated explicitely. If nothing else, they should say `any`.

That's a great first issue for anyone looking to contribute 🙂

[2018-05-18 10:00] agonbina commented on #164
@OGNeutron here it is:
[code]

[2018-05-18 10:36] OGNeutron commented on #164
It's the same one, my troubles continue with the adventures of OGNeutron, such a weird issue. Bloody codegen.

[2018-05-18 11:15] alvis commented on #164
I'm suspecting windows be the cause of the problem? May be some of the packages are not working properly under windows.

[2018-05-18 11:43] OGNeutron commented on #164
I kinda got the server working, just missing those ts-types which codegen is meant to provide, well I dual boot with Ubuntu so I will give it a spin on that, but I doubt it, giving that the other graphql commands work, I must be doing something wrong with codegen.

[2018-05-18 16:55] OGNeutron commented on #164
Yep, it's a bug for Windows, I just tried it with Ubuntu 18.04 and it work perfectly, for some reason it doesn't work for Windows, I am 1709(I believe latest) and it seems to be the main cause for why prisma deploy or codegen isn't working.

[2018-05-18 16:55] OGNeutron opened #172 "Window bug, it seems"
Yep, it's a bug for Windows, I just tried it with Ubuntu 18.04 and it work perfectly, for some reason it doesn't work for Windows, I am 1709(I believe latest) and it seems to be the main cause for why prisma deploy or codegen isn't working.

[2018-05-18 16:56] #172 closed

[2018-05-18 17:40] medelman17 commented on #164
Interesting. Maybe an issue related to how environment variables are handled?

[2018-05-19 07:42] alvis commented on #164
@timsuchanek: just to let you know that a PR (#169) is made for supporting import in codegen.

[2018-05-22 15:29] medelman17 commented on #166
Upgrading to the current version of `prisma-binding` resolves the above issue. However, doing so introduces an additional issue, wherein using `yarn` (v1.6) as package manager pulls the incorrect version of `graphql-tools`, again breaking typescript support.

TypeScript support in `prisma-binding` relies on a `TypescriptGenerator` provided by `graphql-binding.` This generator imports and exports a

[2018-05-23 19:17] hyrecar commented on #164
I'm having the same issue on a mac.
[code]

[2018-05-23 19:18] hyrecar commented on #164
I'm having the same issue on a mac:
[code]

[2018-05-24 13:23] marktani opened #175 "Getting TS error on advanced boilerplate strict:true in tsconfig.json"
originally reported by @jhalborg here: https://github.com/graphql-boilerplates/typescript-graphql-server/issues/257

---

I get the following TS error

[code]

This was before the (very) recent update to the `generated/prisma.ts` in the boilerplate. I did try to copy+paste the changed `prisma.ts` from this repo into my own project, but the error persisted.

I only changed:
* .gitignore
* created `

[2018-05-24 15:27] lewisblackwood opened #176 "Aliases are not resolved correctly"
This bug report is based on [this thread](https://prisma.slack.com/archives/CA491RJH0/p1527165251000011) in the Prisma slack channel.

I'm using `prisma-binding` with a `graphql-yoga` app. In some cases, aliases are incorrectly resolved as null. For example, this query:

[code]

returns:

[code]

If I add another `users` subselection to the query, the alias will be resolved correctly:

[code]

If

[2018-05-25 00:29] schickling commented on #176
@timsuchanek can you please provide an example on how to use GraphQL/Prisma bindings in combination with aliases?

@nikolasburk please make sure to add this special case regarding aliases to the docs.

[2018-05-25 00:38] schickling commented on #168
Thanks a lot for reporting this @alvis. @timsuchanek will shortly look into this and merge your PR :shipit:

[2018-05-25 01:53] liftM opened #177 "Generating resolver types"
I'd like to be able to generate TypeScript types for my server-side resolvers. This way, I can update my `app.graphql` application schema, generate the resolver types for the new schema, and statically type-check my current resolver implementations against the generated types.

This seems like the most straightforward way to write type-safe resolvers. Is there a way to do this?

See also: https://

[2018-05-25 09:26] #168 closed

[2018-05-26 11:19] divyenduz commented on #176
Hi @lewisblackwood, thanks for raising this issue!

Can you please confirm that if you are using `tracing` or `cacheControl` option while starting the `graphql-yoga` server?

As @timsuchanek suggested in the thread, we had [deployed a fix](https://github.com/prismagraphql/graphql-yoga/pull/216) for this but [that does not work is `tracing` or `cacheControl` options](https://github.com/apollographq

[2018-05-27 00:39] kMeillet opened #178 "Invalid secret doesn't throw error on startup"
If you provide invalid secret Prisma-Binding will not throw any error unless request is performed.

I'm using Yoga server,  logs 📁 :

[code]

It would be nice to have the opportunity to test this because the error message is cryptic and it is possible to be confused quickly (people may wonder "is it the authentication of my GraphQL server that does not work or Prisma things ?").

[2018-05-27 02:07] alvis commented on #164
@hyrecar: could you make a repo for us to check?

[2018-05-28 07:36] marktani commented on #167
continued in https://github.com/graphql-binding/graphql-binding/issues/110

[2018-05-28 07:36] #167 closed

[2018-05-28 18:39] hyrecar commented on #164
@alvis, I realized that my case is actually different from this issue. For my case, I am actually generating bindings for the gateway which wraps the prisma schema. So the codegen works for the prisma binding itself, but when I try to do it for the wrapper, it's giving me the issues. I'll dig deeper into it and find out exactly what is going on.

[2018-05-29 09:42] gaving commented on #39
I'd be interested in any updates to this, currently just getting a network error in corporate land (though it's good that the CLI supports a proxy now as per 1.7):-

[2018-05-29 13:08] Aetherall opened #179 "Bug: subscriptions don't work, please update graphql-binding to 2.1.0 to fix the issue"
please see https://github.com/graphql-binding/graphql-binding/pull/102
and https://github.com/graphql-binding/graphql-binding/issues/100

for more info

I hope the update will be released soon :)

[2018-05-30 10:43] OGNeutron commented on #164
Nope, I still have the same issues, it's seem to be Windows having the issue, because it's working with Ubuntu, so it seems they need to do some testing for Window versions.

[2018-05-31 19:41] frankdugan3 commented on #131
@nsignes Are you using fragments? I experienced this happening when I used fragments to share the returned node fields.

[2018-06-01 08:14] divyenduz commented on #131
If you are using fragments then it is a known bug - https://github.com/prismagraphql/prisma/issues/2026

[2018-06-01 09:15] nsignes commented on #131
Hi everyone, thanks for taking the time to reply !

 I wasn't using any fragments. The same subscription simply stopped firing upon updating the entity with bindings.
@marktani : Sorry, didn't see your message :/

 I'll try again to reproduce the issue with the more recent version of Prisma since there have been 3 major versions of Prisma a one major version of Bindings since I tried that.

[2018-06-01 12:47] divyenduz commented on #164
Hi All,

We [released a fix](https://github.com/graphql-cli/graphql-cli/releases/tag/v2.16.1) today that fixes the `graphql codegen` command on windows and makes it more robust overall.

Note that `prisma deploy` still won't run `hooks` on windows but running the `graphql codegen` command manually will work. We are [working on that](https://github.com/prismagraphql/prisma/pull/2557) fix and it wil

[2018-06-01 13:04] divyenduz commented on #162
@adamkl : Were you using `yarn link` or `npm link` with `graphql-tools` by any chance, otherwise, you should not have seen that issue?

Generally, we deployed a [release today](https://github.com/graphql-cli/graphql-cli/releases/tag/v2.16.1) that makes `graphql codegen` more robust.

Please install the new cli via `npm install -g graphql-cli` and try the `graphql codegen` command.

Note that with

[2018-06-01 15:48] onpaws commented on #166
I checked in on the graphql-yoga [PR](https://github.com/prismagraphql/graphql-yoga/pull/331) and for the sake of graphql-yoga and prisma-binding users out there, hope the maintainers can give accept it soon.

As of today been open for 10 days...

[2018-06-01 16:16] lewisblackwood commented on #176
Thanks for the reply @divyenduz. I disabled tracing and that did indeed fix the issue with aliases 👍

[2018-06-01 16:16] #176 closed

[2018-06-02 01:04] Pkmmte commented on #48
How would this work with mutations?

I'm migrating from Graphcool to Prisma and am concerned about having to update mutations this way because they'd essentially be calling themselves. Wouldn't this end in an infinite loop? Any easy way to, for example, make `updateUser(*stuff*)` call `updateUser(data: *stuff*)`?

[2018-06-02 16:29] terion-name opened #182 "prisma.request Promise returns undefined on error"
**upd**
More generalizing the issue — on any error prisma.reqest Promise silently returns undefined and it is simply impossible to debug anything. A huge, huge problem

A resolver:
[code]

`result` is undefined.

I copy from console entire request, run it directly over prisma server and it works:

<img width="1450" alt="2018-06-02 19 28 47" src="https://user-images.githubusercontent.com/1060205/40

[2018-06-02 18:18] terion-name commented on #182
Ok, after fixing fragments (see https://github.com/prismagraphql/graphql-request/issues/86) it began to work.

BUT!

The issue is still present: the Promise should be rejecting on query error and messaging what was wrong, not just silently return undefined

[2018-06-05 21:43] medelman17 opened #183 "Connection Type & Query Confusion re Use of Singular & Plural"
Consider the following, autogenerated field on `Query` from the [Prisma GraphQL Server Example](https://github.com/prismagraphql/graphql-server-example):

[code]

A user attempting to make use of the above (or any `...Connection`) 'must':
- Use the plural `placesConnection` in his or her resolver (i.e., `ctx.db.query.placesConnection(..)`);
- Use the singular `PlaceConnection` in his or her `schem

[2018-06-06 09:47] #183 closed

[2018-06-06 09:47] marktani commented on #183
Issue moved to [prismagraphql/prisma #2584](https://github.com/prismagraphql/prisma/issues/2584) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 23:54] kbrandwijk commented on #48
@Pkmmte This wouldn't cause a loop, because you'll be calling `updateUser(data: ...)` on the binding explicitly.

[2018-06-08 12:41] marktani commented on #164
Awesome thanks for all your feedback in this thread!

The general issue seems to be resolved by @divyenduz' recent work, so I'm closing this.

Please open a new issue if you are encountering further problems! 🙂

[2018-06-08 12:41] #164 closed

[2018-06-08 20:20] harrisrobin commented on #162
Having the same issue and changing from `graphql prepare` to `graphql codgen` did not work.

Here's my package.json:

[code]

[code]
This is my second try and i reverted back to older versions of these packages.

[2018-06-11 19:19] abelovic commented on #164
Is there another issue open for the hooks not running on windows? If not this should not be closed because it is only partially fixed. Those hooks should run otherwise it should be removed from the documentation (and updated with the intermediary fix) until there is a "complete" solution

[2018-06-12 08:17] divyenduz commented on #164
@abelovic : Hey, thanks for reaching out. This was resolved in [`prisma` cli 1.9](https://github.com/prismagraphql/prisma/issues/2494#issuecomment-394792025). Can you confirm your version by typing `prisma --version` and if needed install the latest via `npm install -g prisma`

Thanks!

[2018-06-12 12:41] marktani commented on #182
Can you provide a reproduction for this behaviour? 🙂

[2018-06-12 16:40] terion-name commented on #182
@marktani in what form? a repo? is there a sort of template for this?

in any case just run `await ctx.db. request('query { anyMalformedQuery() {} }')` — that's all reproduction. You'll get `undefined`

[2018-06-12 17:05] marktani commented on #182
Awesome, that's already enough. Thanks! 🙂

[2018-06-12 17:40] abelovic commented on #164
@divyenduz I didn't realize this fix was in prisma cli 1.9 ;P I just tried it out on the hooks seem to be running in windows correctly :) Thank you!

[2018-06-13 12:28] k00k commented on #73
Just to confirm, this does happen with `where` as well. For example, when trying to compound a `where` clause in a resolver, this compounded `where` in the resolver is completely ignored:

`return context.db.query.games({ where: { AND: [{ active: true }, { ...args.where }] } }, info)`

[2018-06-13 12:30] medelman17 commented on #154
This issue may be closed.

[2018-06-13 12:43] marktani commented on #154
Thanks for the PR https://github.com/prismagraphql/prisma-binding/pull/170 @medelman17 🙏

[2018-06-13 12:43] #154 closed

[2018-06-13 20:36] steida opened #187 "Duplicate export for `Prisma` Flow generation"
Flow generation is super awesome. I just tried it but got an error: Duplicate export for `Prisma`

[code]

[code]

![screen shot 2018-06-13 at 22 35 05](https://user-images.githubusercontent.com/66249/41376635-0ae65042-6f5a-11e8-82dd-4749ec06da20.png)

Why it generates both `export interface Prisma {` and `export const Prisma: BindingConstructor<Prisma> = makePrismaBindingClass({typeDefs})`? What

[2018-06-13 21:08] steida commented on #187
Also, I don't know what is the purpose of this:

// export const Prisma: BindingConstructor<Prisma> = makePrismaBindingClass({typeDefs})

[2018-06-13 21:10] steida commented on #187
Can point me @medelman17, please? Thank you.

[2018-06-13 21:19] medelman17 commented on #187
I have a patch in the works. For the time being, you should be able to change the `export const Prisma ...` above to `export const prisma ...` (and likewise wherever you import it).

[2018-06-13 21:28] steida commented on #187
Great. Also, can you tell me please what is the supposed usage of prisma? I am using exported interface.

![Uploading Screen Shot 2018-06-13 at 23.27.50.png…]()

And the last question. I had to disable not flow errors manually.

[code]

[2018-06-13 21:33] steida commented on #187
Please explain what this line does. I can send you some bitcoin for your time, thank you.

`export const prisma: BindingConstructor<Prisma> = makePrismaBindingClass({typeDefs})`

[2018-06-13 21:44] steida commented on #187
Also, pages should not be nullable, if it is not nullable in the schema, I guess.

![screen shot 2018-06-13 at 23 42 31](https://user-images.githubusercontent.com/66249/41379890-8ba0ffee-6f63-11e8-911c-98ff44fe0a38.png)

[2018-06-14 01:06] steida commented on #187
[code]

Why `ID_Input` is number? It breaks things.

[2018-06-14 09:19] FrankSandqvist opened #188 "Prisma-binding produces incorrect types for nullable update mutations"
For a type with a nullable field, I should be able to send a mutation to update any of the nullable fields to null.

E.g.
[code]

However this yields a typescript error “Type ‘null’ is not assignable to type ‘string | undefined’.” This is because Prisma-binding produces incorrect types for the update input:

[code]

The nullable fields (vatNumber & businessId) should have the union type String | n

[2018-06-14 09:21] FrankSandqvist commented on #188
Or as nilan suggested String | null | undefined.

Supposed both

field?: Type | null

and

field: Type | null | undefined

could work?

[2018-06-14 15:20] medelman17 commented on #187
@steida, would you be able to see whether the following version of prisma-binding addresses the bulk of the issues raised above: https://github.com/medelman17/prisma-binding.git#test/flow-types

[2018-06-14 17:28] steida commented on #187
@medelman17 How?

[2018-06-14 20:45] steida commented on #187
@medelman17 Sorry for dumb question, but how I can test PR in http://github.com/este/este?

[2018-06-14 21:01] medelman17 commented on #187
Try `yarn add https://github.com/medelman17/prisma-binding.git#test/flow-types`

[2018-06-14 21:58] steida commented on #187
@medelman17 I still don't know how to use it without interfaces 😭

[2018-06-14 22:39] steida commented on #187
Codegen should generate Flow exact types IMHO. Note `dwhere` is not caught.

![screen shot 2018-06-15 at 00 36 57](https://user-images.githubusercontent.com/66249/41441761-53cfd3c0-7034-11e8-8223-092e4beff7f6.png)

[2018-06-15 20:06] terion-name commented on #64
For this you can use a package: https://github.com/dupski/json-to-graphql-query

But this approach really don't handle lots of issues.
You still will have problems proxying variables or using fragments. Bindings semantics is very limited. It really should accept a GraphQLResolveInfo-like object (or sort of) that will take query/operation, fragments, variableValues. I need a lot of times to **alter

[2018-06-16 05:19] marktani commented on #182
Hey @terion-name, we were focusing on the GraphQL Europe conference lately and haven't started to investigate this yet (the conference was amazing by the way!)

Did you consider providing a PR? :slightly_smiling_face:

[2018-06-16 09:09] terion-name commented on #182
@marktani I'd be happy, but I'm not so confident in your source code. As far as I understand you use for this `graphql-request`, and issue is common for `prisma-binding` and for generic `graphql-binding` (faced it yesterday). So it seems to be problem in GraphQLClient... Well, I'll try to figure this out and make a PR if succeed

[2018-06-19 11:28] timsuchanek opened #191 "Not working in netlify functions"
When deploying bindings to netlify, the current dynamic imports are not working.
The solution for this is to separate the binary and library logic and package the binary standalone to not pollute the dependency tree.

[2018-06-19 23:03] calummoore commented on #64
It would also be helpful to have an object to merge requested fields from the user, with required fields from the system. For example, when running a `create` mutation, you need the ID field, but the user may not have requested it

[code]

[2018-06-20 15:15] iamclaytonray commented on #68
I'm having this issue with queries, mutations, and subscriptions. I have the latest of every dep installed. Any ideas?

[2018-06-20 15:18] marktani commented on #68
Please create a new issue and provide a reproduction, @iamclaytonray. Thanks!

[2018-06-20 15:18] iamclaytonray commented on #68
Sure

[2018-06-21 11:10] terion-name commented on #64
@calummoore yes, this is so common case that I don't understand why there is no method for this. I am going to try making sort of `ensureSelection` helper, but yet had no time for this

[2018-06-21 11:17] calummoore commented on #64
That would be helpful, not straight forward though! Basically we just need to merge two sets of fields together (which would be easiest if we could merge objects).

As a workaround for now I am making the initial request with the system fields I require, and then a secondary request for fields the user wants. Not ideal obviously, as that's two round trips to the server.

[2018-06-22 19:48] terion-name commented on #64
@calummoore I've came along with such thing:
[code]

This allows to minimally transform input query (reassign root field, add some selections) to pass down to prisma or other graphql endpoint. Minimal and far from perfect, but something.

But in general query transforms when working graphql-to-graphql are very needed and a library for this should be developed

[2018-06-23 09:58] #73 closed

[2018-06-23 17:03] divyenduz commented on #182
Currently, we pluck [the data](https://github.com/graphql-binding/graphql-binding/blob/8ce6a0129d7ce3a96fd0044b6857366dfa005654/src/Delegate.ts#L42-L44) out of response and consume the error. Even showing this error via any will display only the schema side error.

There is already a [broad proposal](https://github.com/prismagraphql/prisma/issues/2199) to get around this issue that needs further d

[2018-06-23 21:33] steida commented on #187
That's all I have to fix for Este: https://github.com/este/este/blob/master/scripts/fixCodegen.mjs

[2018-06-25 12:34] divyenduz commented on #162
@harrisrobin : Can you please share your `.graphqlconfig` file? It should have `codegen` extension for `graphql codegen` command to work as expected.

Did you already follow the [upgrade guide](https://www.prisma.io/docs/reference/prisma-bindings/code-generation-cosha9rah3#upgrading-from-prisma-binding-v1.x) from 1.x to 2.x?

[2018-06-28 19:30] maticzav commented on #76
Hey 👋,

It seems like this is still unresolved. @kbrandwijk, I think this concerns you the most since I think this is `graphql-binding` problem. I won't be able to present the actual problem we are having because it's part of the internal code but I'll try to create a reproduction example in the following days.

So, so far I've been able to figure out that fragments are poorly applied to nested fi

[2018-06-29 13:16] divyenduz commented on #76
@maticzav : Are you on latest versions of `binding` libraries? If yes, can you please provide a minimal reproduction in form of a github project? Let us move this forward together.

A lot of fragment naming stuff was resolved in `graphql-tools` `3.x` which should reflect in binding as well and this issue is worth revalidating.

Thanks.

[2018-06-29 16:36] minheq opened #192 "Cannot successfully run graphql codegen, as prisma-binding throws an error"
Reproduction of the bug:

https://github.com/minheq/prisma-binding-bug

# Bug
Cannot successfully run `graphql codegen`, as `prisma-binding` throws an error

## Reproducing the bug
Clone repo and run following commands

[code]

## Expected result
It should generate `schema.ts` file with typescript types/interface for `schema.graphql`, based on `.graphqlconfig.yml`

## Actual Result
Throws an error

[2018-06-29 17:16] medelman17 commented on #192
I can reproduce.

@minheq --

If you modify your `buggyTypes` query to include some arguments, it will resolve your issue. For example:

[code]

I will work on a PR for this.

[2018-06-29 20:06] maticzav commented on #76
Hey @divyenduz, yes, I think I am - my version of `binding` is `2.0.2` were the changes made in `2.1.0`?

Besides that, I decided to solve the problem a bit differently. I am in a bit of a hurry with the current project so I might postpone this a bit - for about a week or so. But certainly, let's try to fix this together!

[2018-06-30 08:36] minheq commented on #192
@medelman17 Great! thanks for the tip :)

[2018-06-30 12:39] terion-name opened #194 "Add an option (or a way) to force Prisma return all scalar entity properties"
IMHO it is a must-have feature and one of those, that make it very hard to make anything more than a primitive CRUD on top of Prisma.

We use prisma bindings mostly to proxy client requests to Prisma, passing down `info` object. In response it will return the data, that is requested and only it. But this approach fails with custom fields.

Example situation:
We have a `File` in datamodel:

[code]

[2018-07-02 17:07] develomark opened #195 "Bug in graphql-tools 3.0.1 - update to latest 3.0.3"
There is a bug in `graphql-tools` that has been fixed in `3.0.2`+ renders fragments in the query fairly broken.

https://github.com/apollographql/graphql-tools/issues/777

There are also a number of additional bug fixes added in `3.0.3`.

Please upgrade to latest (also consider changing package.json version to `"graphql-tools": "^3.0.3"` - so we can get latest updates easier.

Many thanks.

[2018-07-02 17:12] marktani commented on #195
Thanks for the suggestion, @develomark - we will investigate and resolve [the merge conflict](https://github.com/prismagraphql/prisma-binding/pull/173) for our renovate automation around this workflow soon 🙂

[2018-07-02 17:20] develomark commented on #195
Thanks!

[2018-07-03 18:07] checkmatez opened #196 "Document what Options arg in generated queries/mutations do"
Generated types through Prisma-bindings 2.0 suggest, that there is a 3d argument to queries: db.query.something(args, info, options).
Where options look like this:
[code]
I wonder what transforms actually do? And how can I use them?

[2018-07-05 09:07] marktani commented on #194
Hey @terion-name :wave: This is a great question. I would suggest you check out `fragments`.

`fragments` are a way to tell Prisma binding which data is necessary for your resolver to be correctly executed. I suggest you use them in situations where you are resolving a subfield of a particular type - in your case `url` of `File`.

The `graphql-server-example` showcases the use of `fragments`. The

[2018-07-05 09:07] #194 closed

[2018-07-08 02:58] ry5n commented on #118
I’ve run into this too and am OK using the solution outlined in the OP. However, I’m stuck on a delete mutation:

[code]

I have a `removeFeed` resolver which is not passed the original `info` object.

[code]

I have a field-level resolver for final payload:

[code]

The problem is that the feed has already been deleted by this point, so the field-level resolver returns `null`. The reason I have m

[2018-07-10 12:09] marktani opened #199 "Typescript definition of Mutations and Queries does not conform to reality"
@tomitrescak commented on [Tue Jul 10 2018](https://github.com/prismagraphql/prisma/issues/2751)

Is there any particular reason why the Query and Mutation functions are generated with 3 parameters only? For example:

[code]

In reality, these resolver functions have four parameters. So correct way would be:

[code]

I tried searching for the solution but cannot find any. Thanks

[2018-07-10 12:11] marktani commented on #199
@tomitrescak can you provide some more context? Where are these function signatures extracted from?

[2018-07-10 12:29] tomitrescak commented on #199
Hi, it is the standard header of Apollo server resolver. For example:

[code]

Until this is resolved I did a little Typescript magic to remap the function parameters ;)

[code]

Since this solution provides enough flexibility to remap to any header as necessary we can close this issue.

[2018-07-10 12:39] tomitrescak commented on #199
I'm not sure if it is obvious from the xample above, but doing so you obtain absolute type safety on all resolver and mutations, including the mutation and query parameters ;))

I can only say ... I LOVE YOU GUYS!!! 💘

The only thing I'm not sure of is type of parent and info, but that is almost never used.

[2018-07-10 12:46] medelman17 commented on #199
This may actually be a `graphql-binding` issue as that is where the TS generator lives.

[2018-07-10 18:14] mellogarrett opened #200 "Singular query function broken when using `@pgColumn(name: "name")` directive"
My Prisma service is simple, just one type and it looks like this:
[code]
When accessing the Prisma service directly, the below query (plural) returns [Service] like you would expect:
[code]
However, this query (singular) returns null
[code]

[2018-07-10 18:25] mellogarrett opened #201 "Implicitly inserting null values for mutations"
I have a `services` database table (Postgres) with a `NOT NULL` constraint on one field; `created_at`.

When I use the `ctx.prisma.mutation.createService` prisma binding, it automatically adds `null` for each value that I don't specify, which breaks the aforementioned not-null constraint.

So when I run this:
[code]
it throws this error:
<img width="664" alt="screen shot 2018-07-10 at 2 11 14 pm"

[2018-07-11 07:59] DamianPereira commented on #127
@lionstone , I had the same problem, but I found a solution. You can actually import queries from prisma.graphql like this:

`# import Query.posts from "./generated/prisma.graphql"`

Then in your resolver you just do `posts: forwardTo('db')`

This exposes the posts query from prisma to the world, without having to write schema twice.

[2018-07-11 09:56] #200 closed

[2018-07-11 09:56] marktani commented on #200
Issue moved to [prismagraphql/prisma #2754](https://github.com/prismagraphql/prisma/issues/2754) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-11 10:00] #201 closed

[2018-07-11 10:00] marktani commented on #201
Issue moved to [prismagraphql/prisma #2755](https://github.com/prismagraphql/prisma/issues/2755) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-11 12:34] tomitrescak opened #202 "Error: Cannot read property 'type' of undefined, when generating Typescript for array fields"
Hi, I am having issues generating Typescript schemas for queries returning arrays. Following works with no issues:

[code]

following throws an error below:

[code]

Error:

[code]

[2018-07-11 12:53] marktani commented on #202
What are the exact steps you follow?
How can I reproduce this?

[2018-07-11 13:04] tomitrescak commented on #202
Hi.

Prisma.yml

[code]

.graphqlconfig

[code]

users.graphql

[code]

Now, as for YOGA

schema.graphql

[code]

Now I run `prisma deploy`

[code]

[2018-07-11 13:51] marktani commented on #202
Please share the following:

* `prisma version`
* Prisma server version
* `graphql --version`
* Node version
* OS

[2018-07-11 23:48] tomitrescak commented on #202
**prisma version**: prisma/1.10.2 (darwin-x64) node-v10.2.1
**Prisma server version**: ??? ... I use the docker image that was built yesterday
**graphql --version**: 2.16.4
Node version: 10.2.1
OS: Mac High Sierra

[2018-07-12 00:15] tomitrescak commented on #202
[EDIT] I have just update Prisma to 1.11.1 and the error remains.

[2018-07-12 02:30] gcangussu commented on #118
@ry5n I've ran into the same problem, the solution was to mark the entry as deleted and adjust our models to ignore entries marked as deleted. We use a timestamp so we can run a task an exclude all entries marked as deleted since some arbitrary time.

[2018-07-12 05:53] ry5n commented on #118
@gcangussu Oh, interesting. I had worked around it by doing the actual deletion in the final resolver (`removeFeedMutation`) but it feels awkward. A batch task might be better.

I wonder what other GraphQL implementations do? It doesn’t seem like a problem exclusive to Prisma, but I haven’t found anyone advocating any design patterns to address it.

[2018-07-12 18:39] jon-ht opened #203 "Cannot use date before 1970-01-01"
Hi,

It seems that's not possible to use a datetime before 1970-01-01.

Here is my simplified request :

[code]

[code]

If I change datetime value by `1970-01-01T10:33:59.828Z`, it works as expected

[2018-07-12 19:23] notrab commented on #11
I'd be interested to know if `orderBy` and `skip` are on the roadmap for `prisma-binding`.

Any thoughts @schickling ?

[2018-07-13 10:07] #203 closed

[2018-07-13 10:07] marktani commented on #203
Issue moved to [prismagraphql/prisma #2768](https://github.com/prismagraphql/prisma/issues/2768) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-13 10:09] jon-ht commented on #203
Sorry, I didn't know where to post, thanks for your intervention !

[2018-07-13 12:03] marktani commented on #203
Sure, no worries 🙂

[2018-07-13 20:05] bazaglia commented on #4
@kbrandwijk I liked this API. Makes sense to me. @schickling are you thinking of implementing this feature into graphql-binding?

[2018-07-14 00:22] steida commented on #187
@medelman17 Any update please?

[2018-07-14 11:16] marktani opened #208 "Renaming types and fragments does not go well together"
See this reproduction repo: https://github.com/TiE23/p-b-fragments-bug

[2018-07-14 16:11] RobertBroersma commented on #191
I just ran into this issue as well and it works locally using your `custom.webpack.js`. Is there a workaround for deploying a working version to Netlify?

[2018-07-15 19:55] czystyl commented on #187
@steida @medelman17 Can I help you with something related with Flow bindings?

[2018-07-15 20:53] steida commented on #187
@czystyl This is dirty fixes I am using https://github.com/este/este/blob/master/scripts/fixCodegen.mjs string replacement fml. Which lib is responsible for that? Thank you.

[2018-07-16 09:01] czystyl commented on #187
I see the PR was merged so now we need to wait for the new version release and close issue.

[2018-07-16 14:02] bazaglia commented on #4
Is it related with #89? Maybe just using `BatchedHTTPLink` works out of the box.

[2018-07-16 18:03] czystyl commented on #187
@schickling could you released that fix?

[2018-07-16 20:02] #182 closed

[2018-07-18 11:38] joe-re opened #210 "Are there plan to upgrade deps?"
I want to update subscriptions-transport-ws and it seems like PR already exist by Renovate.
https://github.com/prismagraphql/prisma-binding/pull/165

and many other updating deps PRs are, do you have any plan or policy to merge them?

[2018-07-19 06:14] atten opened #211 "Broken error handling"
I use `prisma-binding 2.1.1` with `graphql-request 1.6.0`, and I found that incorrect queries made via Prisma.request() don't produce any error:

[code]

That happened with request(), or I'm doing something wrong?

[2018-07-19 08:17] marktani opened #212 "Make difference in usage between TS and JS clear in README"
TypeScript requires a generated `prisma.ts` file that can be imported like that:

[code]

With JavaScript you need to pass in the schema `prisma.graphql` into `typeDefs`:

[code]

[2018-07-19 11:47] czystyl commented on #187
Ok, The new version of `prisma-binding` was published. But still, I think that exports are wrong. I don't know why there is `export {prisma as Prisam}` For Prisma Interface should be exported.

What you think about it:

Generated Prisma file:
[code]
I don't know if I use it in the correct way. Basically, if I should import Prisma constructor from generated files or from main packages like below:
[

[2018-07-19 13:06] steida commented on #187
I will check it, thank you!

[2018-07-19 18:54] divyenduz commented on #76
I have a reproduction here: https://github.com/divyenduz/prisma-binding-76

[2018-07-20 14:35] kbrandwijk commented on #76
@divyenduz Looking at the repo example, I'm not sure if it's actually a clean reproduction. At least, if I understand the readme correctly, it fails with an _invalid_ field. The example from @maticzav failed when there were no scalar fields present at a specific level. I'll try to look into it either.

[2018-07-20 14:58] terion-name commented on #194
@marktani I can't make it work :(

Not with files, with another model, resolver:
[code]

resolver:
[code]

Query:
[code]

Console output:
[code]

It does not contain order :(

[2018-07-21 20:17] ancashoria opened #213 "Failed graphql codegen after update"
Hey guys, I have updated to prisma-binding: 2.1.1 and followed the upgrading steps from https://www.prisma.io/docs/reference/prisma-bindings/code-generation-cosha9rah3/#upgrading-from-prisma-binding-v1.x

When running `prisma deloy` I get this error at graphql codegen step
[code]

.graphqlconfig
[code]

prisma.yml
[code]

* **prisma -v**: 1.12.0
* **prisma docker image**: prismagraphql/prisma:1.12

[2018-07-22 05:11] divyenduz commented on #195
This was released in [2.1.1](https://github.com/prismagraphql/prisma-binding/releases) 🎉

[2018-07-22 05:11] #195 closed

[2018-07-22 08:31] edorivai commented on #202
Having the exact same problem. My setup:

- prisma version: prisma/1.12.0 (linux-x64) node-v10.5.0
- Prisma server version: prismagraphql/prisma:1.12
- graphql --version: 2.16.4
- Node version: 10.5.0
- OS: Ubuntu 16.04

[2018-07-22 14:19] edorivai commented on #202
I think I might understand what's happening here. I was using the `prisma-binding` against my app, as well as against the prisma database. It works against prisma, but fails against my own app. For my own app, I'm now using the `graphql-binding`, you can check https://github.com/graphql-binding/graphql-binding-github for an example.

I'm new to prisma and this was not 100% clear from the docs. I t

[2018-07-24 17:20] mattferrin commented on #202
@edorivai Your solution appears to work, but takes me back to the initial issue I had using other techniques. I need to support graphql imports.

[code]

[code]

[2018-07-24 18:18] mattferrin commented on #202
@edorivai Nevermind. Works perfectly using `graphql-import`. I'm just a little slow this time.

[code]

[code]

[2018-07-24 19:42] tomitrescak commented on #202
@mattferrin how do you obtain `src/schema.js` ?

[2018-07-24 19:48] mattferrin commented on #202
@tomitrescak You can create a new file name schema.js in your src directory. The copy and paste  the top js code snippet into it. Should work. Let me know if you have issues.

[2018-07-24 19:52] tomitrescak commented on #202
Yeah .. I just found out studying graphql-binding ;) Thanks for a SUPER fast answer!!!

[2018-07-24 20:19] mattferrin commented on #202
@tomitrescak And it looks like I'm going to use my `schema.js` file with `graphql-code-generator` instead too. Since my goal is to add static type checking to my server-side work and I can't take the Query, Mutation, and Subscription types generated and use them directly, `graphql-code-generator` seems like it will generate more fine-grained types for me. (And I've had success with it client-side

[2018-07-25 11:08] ancashoria commented on #213
If anyone has any idea where to start looking for the fix, I'd appreciate it.

[2018-07-25 16:00] mattferrin commented on #202
@tomitrescak Are the `Types` exported from the `prisma` package? My npm installed dependency has a blank type definitions file. Starting to clone `prisma`, but it's a bit of work to figure out.

[2018-07-25 16:02] tomitrescak commented on #202
Guys, I’ll post full instructions tonight. Started to write them this morning but then my little one took over the day. Don’t waste time with the code above, there are a lot of assumptions there) I’ll post back in about 3-4 hours.

[2018-07-25 16:02] jide commented on #64
@terion-name Where does `import {graphQLQueryToJson, jsonToGraphQLQuery} from "../graphql/query";` come from ? jsonToGraphQLQuery id probably https://www.npmjs.com/package/json-to-graphql-query but I could not find the opposite.

[2018-07-25 16:03] mattferrin commented on #202
You're awesome. It looks pretty sweet. Thanks.

[2018-07-25 16:34] czystyl commented on #187
@steida If you would like you can check this PR #214. I would like to update doc as well.

[code]

Now flow working fine and autocomplete :)

[2018-07-25 16:39] czystyl commented on #212
@marktani What do you think about adding the **Flow** instruction as well?

#214 needs to be merged, then I can write docs for Flow 💪

[2018-07-25 17:10] mattferrin commented on #202
I haven't figured out how I broke the database playground yet, but the below was sufficient to get sweet type checking:

[code]

[2018-07-25 17:16] steida commented on #187
Nice. Thank you.

[2018-07-25 20:17] tomitrescak commented on #202
@Sharlaan , let me start with saying that you are right. Naming it PrismaMutation was not the best of the choices. I was planning to write a blog post about it, but had no time, so let me just do a quick intro to what is happening here.

## The Goal

The goal is to have fully type safe resolvers of queries, mutations and types. It may seem like a lot of work to accomplish, but ultimately it is jus

[2018-07-26 16:07] Sharlaan commented on #202
Thanks @edorivai i totally missed this :

[2018-07-27 12:58] terion-name commented on #64
@jide sorry, it's my script, I didn't publish it yet.

[code]

[2018-07-29 22:09] valentinbe commented on #213
Same problem here, same config. Haven't found any fix yet.

[2018-07-30 17:10] Jscott388 opened #215 "Exists - Fields of type must have a sub selection"
For example, my schema is Media. I use the prisma.exists.Media({ListingID: 234523}).

I can't use Medias, media, media. only Media will work but returns this error. Tried using where with it but doesn't work either.

If there is another method to get this working, then update the docs on the site.

Error: Field 'medias' of type 'Media' must have a sub selection. (line 2, column 3):
  medias(where:

[2018-07-31 14:44] zgababa commented on #162
I have the same problem , when I run a mutation with "prisma-binding": "2.1.1"
[code]

I followed the upgrade guide, do I need to add this part even if I don't use typescript ?
[code]
.graphqlconfig.yml
[code]
prisma.yml
[code]
 And I create with no problem a new prisma.graphql with `prisma deploy`

Thank you,

[2018-07-31 15:31] czystyl commented on #212
Now, after spending some time with Flow, I can confirm that you should use generated files.

Check out my comment here https://github.com/prismagraphql/prisma-binding/issues/187#issuecomment-407817428

[2018-08-01 18:36] cgrinker opened #217 "UpdateMany Must have A selection of subfields"
Likely related to #215

[code]

[2018-08-01 21:13] cgrinker commented on #217
Nevermind, I was not properly forwarding the query info

[2018-08-01 21:13] #217 closed

[2018-08-02 05:57] raeesaa commented on #213
Even I was facing similar issue. It turned out that version of `yargs` in my node_modules did not have `.demandOptions` function being called by one of the files in prisma-binding: [https://github.com/prismagraphql/prisma-binding/blob/e1042c4b1db6a5be42c7df3f7729191618d20a04/src/bin.ts#L39](https://github.com/prismagraphql/prisma-binding/blob/e1042c4b1db6a5be42c7df3f7729191618d20a04/src/bin.ts#L39

[2018-08-02 12:06] divyenduz commented on #162
Potential reproduction - https://github.com/divyenduz/prisma-binding-162. Created with help from @zgababa. Needs validation.

[2018-08-02 16:09] #213 closed

[2018-08-02 22:57] mattferrin commented on #188
I had to do:

[code]

[2018-08-03 02:26] shadowcodex commented on #215
If I roll back to before 2.1.0 then I get an error that property length is undefined from the call. Seems to have been broken for a while. Hopefully someone can figure out what this is, for now I'll have to create my own exists query.

[2018-08-03 07:28] FluorescentHallucinogen commented on #211
@schickling @timsuchanek @kbrandwijk @nikolasburk @divyenduz @marktani Need your help.

[2018-08-03 07:44] marktani commented on #211
@FluorescentHallucinogen thanks for letting us know 🙂

Can you provide a reproduction?

[2018-08-03 12:52] atten commented on #211
@marktani Expected getting `response` like this:
[code]

You may reproduce the issue by executing arbitrary non-valid query on your ready-to-use `Prisma` instance:

[code]

Correct requests return data as expected.

[2018-08-04 18:17] morajabi opened #223 "[flow] Turn off 'unclear-type' lint rule (or don't use `any` or other unclear types)"
Currently, we see unclear types like `any` in several places in the generated Flow type code.

It'd be great to add a comment like this:
[code]
At the top of the file after `/* @flow */` comment block.
![cleanshot 2018-08-04 at 22 47 37](https://user-images.githubusercontent.com/12202757/43679310-676516b2-9838-11e8-8e40-460c6659fa8f.png)

Or you can avoid using unclear types.

At the moment, I add

[2018-08-05 13:04] niba opened #224 "Prisma has wrong constructor options"
Here is how Prisma is defined in generated types
![image](https://user-images.githubusercontent.com/2017454/43686065-c68b8a72-98bf-11e8-8b2e-f6b5632f8fd3.png)

as you can see Typescript type inference translates Prisma type to: `BindingConstructor<Prisma>`

the definition of BindingContructor is the following:
[code]

so basically Prisma contructor takes `BasePrismaOptions` options which don't hav

[2018-08-06 13:10] zgababa commented on #162
My mistake ! It was an error in the call of a function.

[2018-08-10 08:48] divyenduz commented on #215
@Jscott388 and @shadowcodex : Thanks for the feedback. Are you using JS or TS?
I tried to reproduce this one here: https://github.com/divyenduz/prisma-binding-215

But I am unable to do so, can you please provide more information about your setup or provide a reproduction repository or provide a PR in my reproduction attempt that displays the error?

That will help me more this forward. Thanks!

[2018-08-10 11:55] #211 closed

[2018-08-10 13:16] TGNThump commented on #162
I am also experiencing this issue while trying to use the following:
[code]

Any help would be greately apreciated.

[2018-08-10 13:58] TGNThump opened #226 "ctx.db.request returning null when the first response attribute is null."
[code]
prints the following to the console
[code]
[code]
[code]
Is this the intended functionality, and if so, how would I get access to the email argument returned by the query?

[2018-08-14 09:07] Fi1osof opened #227 "Custom request headers"
Enhancement.

When i process server requests by prisma, in my resolvers i want send request for enother prisma server.
For this i create another prisma binding
[code]
and pass this to context.
[code]
and in my resolver i do request in my resolvers.
[code]

All good, but by this way i can not send custom headers in request.
Why do i need it? When i do requests on server from browser via apollo-clie

[2018-08-15 10:37] revskill10 opened #229 "Subscription issue"
I'm following tutorial at howtographql.com, here's my subscription for `newLink`:
[code]
My subscription query is:
[code]
But when i post a mutation to create new link
[code]

, i got error :
[code]
But if i go to database, schema, i got correct subscription:
[code]

This is killing me hardly. Any magic for subscription only work for database, but not on `app` ?.

My `schema.graphql` is:
[code]
My

[2018-08-15 18:06] joefru commented on #229
Had the same issue when upgrading prisma-binding to 2.1.4. I suspect a bug there. When I **downgrade to prisma-binding@2.1.3** the problem goes away.

[2018-08-15 19:34] revskill10 commented on #229
@joefru I got same problem even with `2.1.3`, weird.

[2018-08-16 17:32] berstend commented on #64
I'm contemplating using the Prisma typescript bindings as ORM in my backend (non-resolver) code and type safety for the info object would be super useful here.

I second @kbrandwijk's notion of re-using the existing type definitions, when I have a little more time I'll try to wrap my head around a solution.

I feel there's huge potential here to ditch TypeORM, etc. altogether when using Prisma. 😄

[2018-08-17 15:20] maury91 commented on #229
Related: https://github.com/howtographql/howtographql/issues/758

[2018-08-17 15:34] maury91 commented on #229
Same for me, downgrading to `2.1.3` solved the issue

[2018-08-17 16:07] maury91 commented on #229
The error is in this line:

https://github.com/graphql-binding/graphql-binding/blob/master/src/Delegate.ts#L88

I changed from

[code]

to

[code]

and it solved the error, but this raises the question. Should the value pass to Delegate contain a field named data?

Because if the answer is yes, then the error is on the part of the code where we are not wrapping that object in ".data"

[2018-08-17 16:25] maury91 commented on #229
The issue still exists, leave it open until is fixed in the next version

[2018-08-17 16:30] revskill10 commented on #229
@maury91 I reopened the issue for who's interested. There're some serious issues here and there.
Basically, the only way to make all these issues less hurt for developers to upgrade devs, is to rewrite the tutorial following TDD, make library for test so that we could write clean test before any coding.
It saves time as well as give more helpful debugging stories to fix them.

[2018-08-18 07:33] xiechao06 opened #230 "How to issue some mutation using more sophisticated sql"
Sorry, I am a newbie to `prisma-binding`, I just want to know how to make some mutation like the following sql statements:

[code]

since sometimes I must write some sophisticated sql statements.

Thanks!

[2018-08-18 13:55] joealden commented on #229
@schickling @timsuchanek this issue is blocking me from updating. Would love to see it fixed.

[2018-08-19 08:41] ntziolis commented on #229
Same here, in fact it cost me about 8h yesterday while I was debugging using fragments with subscriptions (which then resulted in another bug raised). I agree with other devs that the continuous introductions of major bugs like non working subscriptions is something to worry about. Can we assist you in any way setting up better regression testing?

[2018-08-20 15:15] ntziolis commented on #229
@maury91 I can confirm that making the changes suggested fixes the issue.

[2018-08-20 19:54] maury91 commented on #229
@ntziolis  @SilencerWeb  the main problem is that the issue is on another repository ( https://github.com/graphql-binding/graphql-binding ), and we don't know if consumers that are not prisma-binding are affected, by making that change we can potentially break another consumer, so is worth first investigating if that is the expected behaviour and is prisma-binding the one passing the wrong paramet

[2018-08-20 19:58] ntziolis commented on #229
I see, lmk if I can assist in any way. We need this current version of the bindings as its the first one to allow fragments in subscriptions. Have been waiting for that fix for a long time as it will significantly clean up our code based and reduce errors of devs by not keeping fragment in subscription in sync.

[2018-08-21 02:37] etx commented on #229
Same problem here. 2.1.3 my subs work but when moving to 2.1.4 they error out

`(node:4867) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'section' of undefined
    at Object.<anonymous> (/path/node_modules/graphql-binding/dist/Delegate.js:88:105)
    at step (/path/node_modules/graphql-binding/dist/Delegate.js:32:23)
    at Object.next (/path/node_modules/graphql-binding/dist/

[2018-08-21 09:47] marktani commented on #64
Hey @berstend, that sounds super interesting. We are working on improving exactly this use case, and I would love to hear your input on it. Could you ping me in [Slack](https://slack.prisma.io/) (my handle is @nilan)? 🙂

[2018-08-21 18:42] #143 closed

[2018-08-28 00:55] simonjoom commented on #229
Maury91 well found the issue of this problem:
https://github.com/prisma/prisma-binding/issues/229#issuecomment-413913264

world for me

[2018-08-28 08:03] divyenduz commented on #229
This is fixed in `2.2.4` 🎉

[2018-08-28 08:03] #229 closed

[2018-08-29 00:54] chewy94 commented on #131
@nsignes Any luck?

[2018-08-30 00:33] tomitrescak commented on #7
Hi, I just want to use data loader with prisma binding, I found "http-link-dataloader" that is supposed to solve this. But, do you have any advise where can I plug it into prisma-binding? I know how to use links on client, but not on server.

[2018-08-30 09:44] tomitrescak commented on #159
Hi, can you please give examples on how do you use those computed fields?

[2018-09-02 14:13] akoenig opened #233 "Proposal: Binding as installable package"
Creating bindings is already a nice solution. Can't imagine how much effort we all would put into it if we had to create / maintain it manually.

Although the experience is already quite nice, I think we could improve DX even further by establishing an endpoint right in the Prisma server. This endpoint could generate a npm package with the generated `prisma-binding` on the fly.

A `npm i http://lo

[2018-09-03 08:51] schickling commented on #233
Thanks a lot for this great suggestion @akoenig. We're currently working on the next generation of Prisma bindings which will be called the "Prisma Client". There will be a new `prisma generate` CLI command which allows you to generate the client library without the need for `graphql-cli` or a `.graphqlconfig.yml` file.

We're planning to release a beta next week. Would love to hear your thoughts!

[2018-09-03 10:39] akoenig commented on #233
@schickling Oh wow, _Prisma Client_ sounds awesome. Really looking forward to it.

Ditching the need for using `graphql-cli` eases the process tremendously. Great news!

One thought on this though: In my previous projects there was a clear separation between the API and the actual data model (the Prisma service). They even were separated into own repositories. With _Prisma Client_ in place, I woul

[2018-09-03 17:37] pollard93 commented on #81
Another newcomer! I have another use case: i'm building a multi tenant system of which I am deploying multiple databases with identical schemas. E.g service-1@dev and service-2@dev.

I want to then switch the endpoint when creating a new Prisma instance on each request. E.g endpoint/service-1/dev and endpoint/service-2/dev.

However due to `getCachedRemoteSchema` using the `typeDefs` as the key, i

[2018-09-05 00:12] w0wka91 opened #235 "Feature: Add API for management api of the prisma server"
It would be nice if we could access the management api of the prisma server through the binding.

It could look like this:
<pre><code>
// Instantiate `Prisma` based on concrete service
const prisma = new Prisma({
  typeDefs: 'schemas/database.graphql',
  endpoint: 'https://us1.prisma.sh/demo/my-service/dev',
  secret: 'my-super-secret-secret',
  managementApiSecret: 'very-secret'
})

// Retrieve `

[2018-09-10 17:15] aaronbach opened #237 "OrderBy not working"
Is there a possibility, to use `orderBy`?

I played around with `prisma-binding` and an `prisma-yoga`, which I have created with the prisma-yoga-boilerplate. I have added a custom resolver wich looks like this:
[code]
It seems that there is no possibility, that I can order the results. When I look in the console-output from `yoga` there I can not see that orderBy is passed through to prisma.

When

[2018-09-10 21:55] vladka commented on #202
back to error ' Cannot read property 'type' of undefined"
I have found
https://github.com/prisma/prisma-binding/issues/192
So I have add 'fake param' _where_

[2018-09-13 15:18] apoggi-carecloud commented on #215
I am also having this issue. The ' Fields of type must have a sub selection'  error occurs in version 2.0.1. Once I upgraded to 2.1.5 the error changed to a 'TypeError: Cannot read property length of undefined', which is occurring in the Prisma-Binding module.

[2018-09-14 15:00] apoggi-carecloud commented on #215
Below is a sample resolver where using the exist method on the prisma-binding API creates an error.
Resolver:
`async createComponents(_, { components }, ctx: IContext, info) {
     return
        components.map(async component => {
          try {
            const { mapping } = component;
            const componentExists = await ctx.db.exists.Component({ mapping });
            return componentE

[2018-09-15 21:11] agonbina commented on #188
You can also use `null!` to turn the null into a `never` type, which is accepted for any type. Obviously this does not solve the actual problem, which is that the autogenerated type is plain wrong.

[2018-09-18 15:53] Errorname commented on #81
Hi there!
I have the same issue as @pollard83, I can't switch between multiple endpoints having the same schema.

But I've found a solution which doesn't require me to fork this repo until a better solution is found.

I currently am doing a workaround by importing the typeDefs from the file myself and then appending a comment with the service and stage names. This makes the cache think the typedef

[2018-09-20 09:43] FrancoTanzarella commented on #164
I am still experiencing this issue on windows. I have the latest version 1.16.4 and with the changes suggested by Alvis - [https://github.com/prisma/prisma-binding/issues/164#issuecomment-389827370](here)

I get the confirmation that the processes were successful but nothing is actually created.
`post-deploy:
Running graphql get-schema --project database √
Running graphql codegen √`

I also did `g

[2018-09-21 03:13] ryankauk commented on #224
+1

[2018-09-23 17:50] cheuk3 opened #240 "It would be good if this library can connect to Elixir :D"
It would be good if this library can connect to Elixir :D

[2018-09-24 17:01] pollard93 commented on #81
@Errorname Nice workaround I'm now doing the same, thanks.

[2018-09-26 12:05] Inkdpixels commented on #233
Would also greatly appreciate the suggestion @akoenig made, it would simplify things quite a bit for developers that maintain mono-repos / microservice architectures.

[2018-09-29 21:05] MitchellMonaghan opened #241 "subscription not working 2.1.6"
Hi guys I was excited to try this out but it doesn't seem to be working. Tried researching the issue online and it seems that this has happened in the past and has been fixed a few times. Wondering if maybe I'm doing something wrong.

My resolver looks like this
[code]

And I am trying to use the auto generated notification subscription

`# import Subscription.notification from "./generated/prisma

[2018-09-30 00:12] #241 closed

[2018-09-30 00:15] MitchellMonaghan commented on #241
Never mind I was able to get this working. Adding secret to my prisma.yml caused this error and I guess I don't have everything else configured properly yet to support the secret on the server. By removing the secret and solving a few other fails specific to my application I was able to receive the subscription data.

[2018-10-03 10:45] nemcek commented on #118
For anyone who needs to use fragments I was able to extend @gcangussu solution to work with fragments. You basically just need to "copy" fragments from original `info` into the new `info`:

[code]

Hope this helps!

[2018-10-06 14:13] nathanforce commented on #73
To chime in here, I am seeing the same with a variable called `after`. If I change the variable to `afterDate` then all works fine.

[code]

[2018-10-06 14:31] nathanforce opened #243 "Cannot create resolver with variable named 'after'"
This sounds like a similar issue to #73.  When my resolver expects a variable named `after` to be used for filtering I am seeing an empty result set returned.  My suspicion is that this variable name is conflicting with the `after` variable Prisma uses for pagination.  For now, I have changed the variable name, but ideally I would be able to use any name I'd like.

[code]

[code]

Please let me kn

[2018-10-08 18:50] nemcek commented on #188
Any update on fixing generated types?

[2018-10-15 13:11] SebaBoler opened #244 "Problem with variables in resolvers"
I have resolvers - mutation to create user

[code]

When I use this line of code
`args.data.password = await hash(args.data.password, 10)`

I get hashed password in field password on table User

but when I use commented line a get unshashed password - String.

Why its doesn't work properly ??

[2018-10-17 07:50] Skitionek commented on #202
I cannot see it being resolved and I believe it might be the same issue.
While running ```prisma generate``` I have been facing the error:
[code]
Step by step I discovered that it is returned for type within only id field.

To work around this bug **each type definition should have at least two fields**.

[2018-10-18 21:51] tomitrescak commented on #202
@mattferrin I would have no idea where to start as each resolver returns it's own thing.

[2018-10-18 22:01] mattferrin commented on #202
@tomitrescak  I'm a little confused honestly, but I think the below has compiled without issues at times, but at other times has failed with `ReturnType<T>` being inferred as `{}` instead. Then I have to revert back to `any` despite only a few properties erring.

[code]

I appreciate the response back regardless. Thanks.

[2018-10-22 22:02] tomitrescak commented on #202
@mattferrin looks nice, I do not seem to have problems with your approach. It is working rock solid. Not sure why it's failing for you ;(

[2018-10-28 23:58] affanshahid opened #246 "Incorrect types - QueryMap"
Using the default typings (no codegen) with the `Prisma` class. When I trying to run a query, I get the following type error, even though the code runs as expected.

![image](https://user-images.githubusercontent.com/17955210/47623739-afdccc00-db36-11e8-9533-cc8276ab25c4.png)

The `QueryMap` type expects the `Context` as the second argument and the selection set as the third argument. If I change

[2018-11-03 09:55] Fi1osof commented on #202
I used extended schema and add some type without arg where
[code]
And got this error.

I just add where condition and all OK
[code]
Error became when i create server directly without declare resolvers (I use them like as proxy);
[code]

[2018-11-06 08:11] n2ctech opened #247 ""Error: Invalid Prisma endpoint provided" when using docker-compose to deploy a server alongside prisma server"
**Describe the bug**

When using `docker-compose` to deploy a server (e.g. Apollo Server or graphql yoga) talking to prisma server, it is not possible to reference the prisma server container by its name because of string validation in `prisma-binding` module :
`/app/node_modules/prisma-binding/dist/Prisma.js:44`
`throw new Error("Invalid Prisma endpoint provided: " + endpoint);`

**To Reproduce**

[2018-11-09 10:41] luandro opened #248 "Cannot set property 'fragmentReplacements' of undefined"
I keep gretting this error when trying to use `prisma-binding` in my server.

[code]

[2018-11-09 11:30] okankayhan commented on #215
Is there any progress on this or do I need to write my own exist methods ?

[2018-11-12 15:44] timsuchanek opened #249 "Support graphql@14"
As needed in https://github.com/prisma/prisma/issues/3454

[2018-11-16 18:56] NickyMeuleman opened #250 "autocomplete for selection sets"
I'm following Andrew Mead's [modern GraphQL course](https://www.udemy.com/graphql-bootcamp/) and I fell in love with the autocomplete and errors inside GraphQL playground.

Using `prisma-binding` now that autocomplete is no longer there sadly.

I managed to get **autocomplete** working when choosing the query/mutation/subscription and the optional arguments for that query/mutation/subscription,
bu

[2018-11-16 20:53] #249 closed

[2018-11-17 19:33] guatedude2 opened #252 "prisma.exists throws an error"
**Describe the bug**
When calling prisma.exists on a type which is using "key" as the ID, prisma throws an Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a type in the datamodel.graphql
[code]

2. Deploy and generate bindings
3. Call `prisma.exists.I18String({ key: "123" })`
4. See error
[code]

**Expected behavior**
Returns true or false

**Versions (please complete the follo

[2018-11-17 20:40] schickling commented on #249
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/prisma-binding)
- [GitHub release](https://github.com/prisma/prisma-binding/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-17 20:49] maticzav commented on #252
Hey @guatedude2 👋,

I believe this is hardcoded in light of the current Prisma `ID!` implementation. Check out the following piece of documentation https://www.prisma.io/docs/data-model-and-migrations/data-model-knul/#id.

I hope this helps 🙂

[2018-11-18 10:37] taikn opened #254 "A possible typo prevents exists queries from working in v2.2.0"
The `exists` queries stopped working for me in v2.2.0 throwing errors like these:

[code]

after examining what has changed I've found that previously in v2.1.6
a list validation was made against `.ofType` property:

https://github.com/prisma/prisma-binding/blob/bf6d289a18ee23338805cd9b793fa32fd59e8e3a/src/info.ts#L19

and in v2.2.0 the `ofType` is dropped and whole object is passed:
https://githu

[2018-11-18 11:31] #254 closed

[2018-11-18 11:32] schickling commented on #254
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/prisma-binding)
- [GitHub release](https://github.com/prisma/prisma-binding/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-18 21:07] uufish commented on #215
Is there any solution?

[2018-11-19 17:52] maticzav commented on #192
Hey @minheq @medelman17 👋,

Can you still reproduce this issue with the latest versions of the stack?

[2018-11-19 18:01] maticzav commented on #1
I believe this issue is no longer active. Feel free to reopen if you think differently  🙂

[2018-11-19 18:01] #1 closed

[2018-11-19 18:10] maticzav commented on #2
I believe this issue is no longer in sync with the current `prisma-binding`, however, for the sake of sharing the idea, you could also fetch `comments` in the first place which would prevent this cumbersome situation.

[code]

Feel free to reopen the issue 🙂

[2018-11-19 18:10] #2 closed

[2018-11-19 18:17] maticzav commented on #4
I believe this issue is no longer in sync with the current `prisma-binding`. You might as well want to check [prisma-cli](https://www.prisma.io/client/client-javascript/) which reflected such ideas in the API.

Feel free to reopen the issue if you believe it hasn't been resolved 🙂

[2018-11-19 18:17] #4 closed

[2018-11-19 18:19] maticzav commented on #5
Hey 👋, I believe this issue is no longer in sync with the current `prisma-binding`.

Feel free to reopen the issue if you believe it hasn't been resolved 🙂

[2018-11-19 18:19] #5 closed

[2018-11-19 18:29] maticzav commented on #11
Hey 👋, I believe this issue is no longer in sync with the current prisma-binding.

Feel free to reopen the issue if you believe we should further discuss it. 🙂

[2018-11-19 18:29] #11 closed

[2018-11-19 18:31] maticzav commented on #6
Hey 👋, I believe this issue is no longer in sync with the current prisma-binding.

Feel free to reopen the issue if you believe we should further discuss it. 🙂

[2018-11-19 18:31] #6 closed

[2018-11-19 18:33] maticzav commented on #16
Hey 👋, I believe this issue is no longer in sync with the current `prisma-binding`. The new `graphql-binding` code generator also features a very robust interface system which probably fixes the problem described here.

Feel free to reopen the issue if you believe we should further discuss it. 🙂

[2018-11-19 18:33] #16 closed

[2018-11-19 19:35] maticzav commented on #23
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its context. 🙂

[2018-11-19 19:35] #23 closed

[2018-11-19 19:36] maticzav commented on #43
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its context. 🙂

[2018-11-19 19:36] #43 closed

[2018-11-19 19:46] maticzav commented on #64
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its context. 🙂

[2018-11-19 19:46] #64 closed

[2018-11-19 19:56] maticzav commented on #78
Hey 👋,

I believe the initial question has been well resolved throughout the conversation. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its context. 🙂

[2018-11-19 19:56] #78 closed

[2018-11-19 20:04] maticzav commented on #81
Hey 👋, I believe this issue has been resolved in most recent versions of `prisma-binding`. Taking @schickling's comment as a basis, I believe new implementation constructs a remote schema based on provided `typeDefs` instead of blindly saving a global default.

More about this can be found in the `cache.ts` file of `prisma-binding`; I'll include the link below.

https://github.com/prisma/prisma-bi

[2018-11-19 20:04] #81 closed

[2018-11-19 20:05] maticzav commented on #75
Fixed with #81

[2018-11-19 20:05] #75 closed

[2018-11-19 20:14] maticzav commented on #86
Hey 👋,

guessing the mutations wouldn't make much sense because `prisma-binding`, even though it serves as a complement to Prisma, isn't tied directly to it in its core implementation.

As @kbrandwijk mentioned, you should find a way to pass down the `info` parameter. A solution to your problem is implementing `AuthPayload` which receives the correctly modified `info` parameter. Check the code I p

[2018-11-19 20:14] #86 closed

[2018-11-19 20:15] maticzav commented on #110
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its context. 🙂

[2018-11-19 20:15] #110 closed

[2018-11-19 20:16] maticzav commented on #131
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-19 20:16] #131 closed

[2018-11-19 20:20] maticzav commented on #133
@tibotiber I believe the latest version of `graphql-binding` should acquaint you with the tools you need to gain desired functionality. There's nothing wrong in using `prisma-binding` functionality as long as you are aware of limitations it might have due to serving a non-Prisma endpoint. One such example might be the `exists` query.

I believe this issue is also no longer in sync with the current

[2018-11-19 20:20] #133 closed

[2018-11-19 20:22] #136 closed, assigned to nobody

[2018-11-19 20:35] maticzav commented on #187
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-19 20:35] #187 closed

[2018-11-19 21:02] Errorname commented on #81
Hey @maticzav !
Well, @pollard93 andI still have an issue with the current implementation. Here is our issue:

We both have a multi tenant system in which we created multiple services having the exact same schemas (and therefore same provided typeDefs). Then, using prisma-binding, we try to register some (at least two) of our identical services. But, **because they have the same typeDefs**, the ca

[2018-11-19 21:12] Errorname commented on #81
I think a potential solution for our issue would be to cache based on the `endpoint` instead of the `typeDefs`

[2018-11-20 15:43] maticzav commented on #178
Hey @kMeillet, this entirely depends on your implementation. If you were, for example, to implement Prisma as one global instance instead of per-context one, you would receive an error immediately, if I am not mistaken.

To implement the functionality you requested, we would need to make a lot of design decisions which are very specific to such use case. Usually, such specifics turn out to be a ba

[2018-11-20 15:43] #178 closed

[2018-11-20 15:44] maticzav commented on #162
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 15:44] #162 closed

[2018-11-20 15:45] maticzav commented on #166
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 15:45] #166 closed

[2018-11-20 15:46] maticzav commented on #175
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 15:46] #175 closed

[2018-11-20 15:47] maticzav commented on #177
Hey @liftM 👋,

That's an interesting question! I recommend you check out the `graphqlgen` project that we recently unveiled. I'll close the issue because we are trying to gain a better overview of the issues concerning the current version of `prisma-binding`, however, feel free to reopen it at any time 🙂

[2018-11-20 15:47] #177 closed

[2018-11-20 15:48] maticzav commented on #188
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 16:09] maticzav commented on #199
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 16:09] #199 closed

[2018-11-20 16:10] maticzav commented on #210
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 16:10] #210 closed

[2018-11-20 16:10] maticzav commented on #212
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 16:10] #212 closed

[2018-11-20 16:11] maticzav commented on #223
Hey @morajabi 👋,

Is this still an issue in the latest version of `prisma-binding`?

[2018-11-20 16:42] maticzav commented on #244
Hey 👋,

I believe this happens because you forgot the `data` type in the commented example. I posted a fix below, let me know if it worked! 🙂

[code]

I'll close the issue because we are trying to gain a better overview of the issues concerning the latest version of `prisma-binding`, however, feel free to reopen it at any time! 🙂

[2018-11-20 16:42] #244 closed

[2018-11-20 16:44] maticzav commented on #246
Hey @affanshahid can you verify that this is still an issue? If so, would you mind composing a quick reproduction repo or CodeSandbox, whichever suits you better. 🙂

[2018-11-20 16:48] maticzav commented on #240
@cheuk3, I believe connecting `prisma-binding` to any GraphQL work should form without any problems. Take note however that some functionality is limited to Prisma. Therefore, I would advise you check out `graphql-binding` as well.

I'll close the issue because we are trying to gain a better overview of the issues concerning the latest versions of `prisma-binding`, however, feel free to reopen it

[2018-11-20 16:48] #240 closed

[2018-11-20 16:48] maticzav commented on #224
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 16:48] #224 closed

[2018-11-20 16:56] maticzav commented on #235
Hey 👋,

I believe you can already do this by using `localhost:4466` as an endpoint. Bear in mind, however, that you should change the endpoint of the remote schema used in code generation step.

[code]

I'll close the issue because we are trying to gain clarity over the issues concerning the latest version of `prisma-binding` but feel free to reopen it at any time. 🙂

[2018-11-20 16:56] #235 closed

[2018-11-20 16:57] maticzav commented on #230
Hey @xiechao06 👋,

Sending SQL statements to Prisma is not yet available. I'll close the issue because we are trying to gain more clarity over the issues concerning most recent versions of `prisma-binding`, however, feel free to reopen the issue at any time if you believe we should further discuss its content.

Also, try checking the `prisma/prisma` repository for a similar issue or open one for y

[2018-11-20 16:57] #230 closed

[2018-11-20 17:02] maticzav commented on #215
Hey 👋, does this still occur with the latest version of `prisma-binding`?

It would be very helpful if you could provide a reproduction repository or CodeSandbox so we can figure out the solution more quickly 🙂

[2018-11-20 17:10] maticzav commented on #243
Hey 👋, I believe this issue is no longer in sync with the current version of `prisma-binding`. In need for gaining a better overview of the issues facing the current version, I'll close it.

Feel free to reopen the issue if you believe we should further discuss its content. 🙂

[2018-11-20 17:10] #243 closed

[2018-11-21 13:16] terion-name opened #262 "executeRaw support"
Why does `executeRaw` is not supported here?

Using Prisma client is not an option for my case. Can this be added?

[2018-11-21 13:20] maticzav commented on #262
Hey @terion-name 👋,

Could you explain in a bit more detail what you have in mind with `executeRaw`?

[2018-11-21 17:00] maticzav commented on #262
@terion-name I believe this hasn't been implemented after all. I checked the schema which is exposed by Prisma instance itself, and there seems to be no `executeRaw` field in any of the types.

Please note that `prisma-binding` doesn't give any additional functionality to one already exposed by Prisma.

[2018-11-21 21:31] gazzer82 commented on #194
I’m also struggling with this and graphql-yoga, did you ever get it to work?

[2018-11-22 10:11] terion-name commented on #262
@maticzav it was: https://github.com/prisma/prisma/releases/tag/1.17.0

[2018-11-22 20:48] maticzav commented on #262
Hey @terion-name, I cannot reproduce your issue. Prisma Binding correctly generates `executeRaw` for me. Here's the code I get;

[code]

I advise you check out the instructions in the documentation. I followed them, and it seems to be working. I hope they help you as well 🙂

In case they don't, please compose a CodeSandbox or a simple Github repo with reproduction.

Additionally, I would like to p

[2018-11-22 21:07] maticzav commented on #248
Hey @luandro 👋,

Could you compose a simple reproduction of this bug? It could be either CodeSandbox app or a Github repository. This way we can fix the bug a lot more quickly 🙂

[2018-11-22 23:17] luandro commented on #248
Thanks @maticzav, it was happening on [this repo](https://github.com/ewe-kombucha/ewe-server), but I've started a new project that it works without any problems. So I'll close, thanks for the attention.

[2018-11-22 23:17] #248 closed

[2018-11-23 09:01] okankayhan commented on #215
@maticzav I managed to reproduce the problem using https://github.com/graphql-boilerplates/node-graphql-server/tree/master/advanced.

If you replace the id field of Post with uuid, any exist check starts returning `Cannot read property 'length' of undefined`. I am using a custom ID field to be able to create a new post with client specified ID.

[2018-11-23 21:55] terion-name commented on #262
@maticzav hm. I've tried, but it didn't work. This is strange, I'll check once more. Thank you

[2018-11-23 22:01] terion-name commented on #194
@gazzer82 nope (

[2018-11-24 08:41] maticzav commented on #262
@terion-name, are you trying to use `executeRaw` on Prisma hosted server, or self-hosted instance?

[2018-11-24 08:57] maticzav commented on #194
Hey @terion-name 👋,

Can you double check that you extracted fragment replacements from resolvers and applied them to `Prisma`? Usually it's something similar to this;

[code]

I hope this helps 🙂

[2018-11-26 04:01] chanlito opened #266 "Need clarification around subscription previous values"
<img width="452" alt="screen shot 2018-11-26 at 10 57 22 am" src="https://user-images.githubusercontent.com/15667259/48992424-2ab2fa00-f16a-11e8-9cec-9fc50dfadad4.png">

Is previousValues `id` supposed to have this `StringIdGCValue` before the id now? because in previous version I didn't see this.

Is it a bug?

[2018-11-26 06:12] divyenduz commented on #247
@maticzav : Because AFAIK, the issue is in `prisma-binding` string validation.

[2018-11-26 20:19] terion-name commented on #194
@maticzav and how does resolver (e.g. `UserFollowedBy `) should look like in your example?

[2018-11-26 20:53] terion-name commented on #262
@maticzav self-hosted (1.19 running in docker)

[2018-11-27 17:33] maticzav commented on #262
@terion-name I am unable to reproduce your issue. Did you restart the `docker` and included `executeRaw` option from Prisma documentation? Could you compose a reproduction repository or CodeSandbox? Whichever suits you best! Otherwise, there is scarcely a chance to resolve this issue.

[2018-11-27 17:40] maticzav commented on #194
`UserFollowedBy` is not a great example to portray the idea. Take a look at the case below; I believe it should be pretty self-explanatory;

[code]

[code]

[2018-11-28 15:22] telaoumatenyanis commented on #262
Can you try to regenerate your schema.graphql ?
I had this issue and my schema.graphql was too old.

According to prisma doc, your files should look like this :

.graphqlconfig.yml
[code]

prisma.yml
[code]

Running ``prisma deploy`` will regenerate your schema.graphql.
Try searching executeRaw in it.

Now, use the generated schema.graphql as the typedef argument of your Prisma instance :

[code]

[2018-11-28 16:21] vkouk commented on #249
Why i am still facing the same issue ?

[2018-11-28 18:59] maticzav commented on #247
@divyenduz I suggest we change the `error` to a warning. Do you think this could brake anything?

[2018-11-29 05:49] divyenduz commented on #247
@maticzav : Most likely no, but if someone relies on this logic for their URL validation, then their application might break. In any case, we should clearly mention this in release notes should we decide to do it.

[2018-11-29 10:32] nemcek commented on #188
Hey @maticzav I don't see how this is out of sync.
Using prisma-binding@2.2.8 with datamodel as
[code]
The generated types are:
[code]
No `nullable` types anywhere.
I think this should be resolved in `graphql-binding` and not `prisma-binding` as people can use `graphql-binding` to generate types for their own bindings.

[2018-11-30 16:37] maticzav commented on #249
@vkouk could you check if you by chance have externally defined `graphql` instance? Also, what's the version of `prisma-binding` that you're using?

[2018-11-30 16:39] maticzav commented on #266
@do4gr could this be related to core `prisma`?

[2018-11-30 17:48] vkouk commented on #249
These are my dependencies:

dependencies": {
    "bcryptjs": "^2.4.3",
    "dotenv": "^6.1.0",
    "graphql": "^14.0.2",
    "graphql-cli": "^2.17.0",
    "graphql-yoga": "^1.16.7",
    "jsonwebtoken": "^8.4.0",
    "prisma": "^1.21.1",
    "prisma-binding": "^2.2.8"
  },
  "devDependencies": {
    "@babel/cli": "^7.1.5",
    "@babel/core": "^7.1.6",
    "@babel/node": "^7.0.0",
    "@babel/plugin

[2018-12-03 07:06] vkouk commented on #249
https://github.com/prisma/prisma/issues/3454

This is still being an issue to me.

[2018-12-03 21:17] maticzav commented on #249
@vkouk `get-schema` still hasn't been updated. We'll probably give it a shot this week. Stay put! 😄

[2018-12-04 07:30] vkouk commented on #249
@maticzav oh ok then. i will be waiting for an update. I may also use an env prefix?
ex.: --env dev.env or prod.env for my prisma url or is not needed?

[2018-12-05 05:05] leetmachine opened #275 "nested exists where does not work without id field"
The exists does not work when using a nested where unless the id field is set on the type.

I have the schema:
[code]
When I tried to use exists on Employee I received a TypeError: "cannot read property 'length' of undefined' at Prisma.ts:79:31

example exists:
``prisma.exists.Employee({ user: { email: 'test@test.com'}});``

I updated Employee in my Primsa datamodel to include id: ID! and then it

[2018-12-05 21:35] maticzav commented on #275
Hey @leetmachine 👋,

Thank you for reporting this! It would be super helpful if you could provide a small reproduction example - Github repository or CodeSandbox, whichever works best for you. 🙂

[2018-12-10 15:42] #188 closed

[2018-12-10 15:44] schickling commented on #188
:tada: This issue has been resolved in version 2.2.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/prisma-binding)
- [GitHub release](https://github.com/prisma/prisma-binding/releases/tag/v2.2.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-10 15:46] maticzav commented on #237
Hey @aaronbach 👋,

Could you verify that this is still an issue with the latest version of `prisma-binding`?

[2018-12-13 06:03] artemzakharov commented on #192
@maticzav I just got this issue by having a type with no properties other than `id: ID! @unique` defined in my Prisma schema. The OP's reproduction repo has the same setup, so I think that might be the source of the issue here.

[2018-12-21 13:14] maticzav commented on #192
Hey @minheq 👋,

I believe this is a design decision since `prisma-binding` assumes you are using it with Prisma itself where each type also features `where` input argument. I was able to fix the bug by adding `where` in the arguments list.

[code]

We will discuss the next steps in the upcoming week and change the code accordingly. 🙂

[2018-12-21 15:35] minheq commented on #192
i see :)

sounds good to me!

[2018-12-24 13:11] yaldram commented on #76
Until this bug is solved, please use this following method if you want to use connections :-

[code]

[2018-12-31 08:33] brainafesoh commented on #159
Hi @marktani any updates on this issue yet!?
I am desperately in need and the few solutions I've found **(with fragment replacements)** don't seem to work for me.
Thanks in advance!

[2018-12-31 09:09] pantharshit00 commented on #159
Hi @brainafesoh,

Can you please tell me more about your use case?

Also, maybe this may help you: https://oss.prisma.io/content/graphql-binding/02-api-reference#addfragmenttoinfo. This function adds a field to the existing info.

[2019-01-02 11:40] maticzav commented on #192
Hey @minheq 👋,

As promised, we discussed your case; `prisma-binding` is designed especially for Prisma. As a consequence, it doesn't work with other non-prisma schemas which you've already experienced.

I suggest you try using `graphql-binding` instead of `prisma-binding` to solve your problem.

[2019-01-02 13:10] minheq commented on #192
Thank you for your response! @maticzav

[2019-01-02 13:10] minheq commented on #192
Thank you for your response! @maticzav

[2019-01-02 13:10] #192 closed

[2019-01-03 05:46] zlwu commented on #118
The plunk implementation is cool and should definitely
 be an official utility function.

[2019-01-07 08:32] tomitrescak opened #299 "fragmentReplacements stopped working"
Hi, not sure what is going on, but fragment replacements stopped working. I have version "2.2.10".

This is my resolveer:

[code]

I am collecting fragemtns with:

[code]

Yet, no luck ...

[2019-01-07 10:10] maticzav commented on #299
Hey @tomitrescak 👋,

Could you compose a short reproduction repository with the latest version of `prisma-binding`?

[2019-01-09 09:36] do4gr commented on #266
Sorry for the late reply, that was a bug that was fixed in 1.23.1.

See https://github.com/prisma/prisma/issues/2847

[2019-01-09 09:36] #266 closed

[2019-01-09 11:04] calummoore opened #300 "Add support for user supplied link"
It looks like you are now using `apollo-link` as the HTTP interface for `prisma-binding`.

It would be awesome if we could supply our own link, as the beauty of the link approach is that you can compose various different links together to meet your requirements. For example, I might want to add `apollo-link-retry`.

If you think this is a good idea, I'm happy to submit a pull request.

[2019-01-11 11:18] Fi1osof commented on #227
Seams to be fixed. Now i can get token via
[code]

[2019-01-11 11:18] #227 closed

[2019-01-24 21:36] faurehu opened #315 "Better reference to the violating field in an error of unique constraint"
The Prisma server is responding with the following error after `updateEmployee` call:

[code]

For my UI purposes, I would appreciate having a better reference to the field which is violating the constraint.

I also tried digging the code to have a better idea about where the error code comes from. I can only assume for now that `3010` means a unique field constraint is being violated.

[2019-01-27 22:21] leosuncin commented on #275
I have the same issue and created a repository with the code necessary to reproduce the issue https://github.com/leosuncin/prisma-binding_exists-bug

More specific the issues is raised here https://github.com/leosuncin/prisma-binding_exists-bug/blob/1dd9e9bfd0937c9c4297834a02f33e1ac0c9b4f5/resolvers/query.js#L2-L9

Moreover, I believe that all this issues prisma/prisma-binding#275 prisma/prisma-bi

[2019-01-30 11:30] maticzav commented on #215
Closing in favour of #275

[2019-01-30 11:30] #215 closed

[2019-01-30 23:19] leosuncin commented on #275
I added functional tests to my repository, also I add `id: ID! @unique` to datamodel but in other [branch](https://github.com/leosuncin/prisma-binding_exists-bug/tree/adding-id) and it works, although it should works in both case because Prisma creates by itself the `id` or that what I tough.

PS: If someone knows a better way to run tests with Prisma, I'm all ears.

[2019-01-31 07:51] maticzav commented on #275
@leosuncin I agree, however, to my understanding your datamodel doesn't only shape the fields in your database but also portrays the exposed fields. Considering this, not having an `id` field effectively means hiding it in your data model.

[2019-01-31 11:00] leosuncin commented on #275
@maticzav sometimes that's the desire behavior hide a big and not human friendly `id` with a slug or username for instance

[2019-02-15 16:38] plinionaves commented on #262
Hello friends!

[2019-02-15 16:40] plinionaves commented on #262
Hello friends!

I'm trying to achieve "executeRaw" to in prisma-binding, but to no avail...

Has anyone recently gotten it?

[2019-03-06 02:22] ZenSoftware commented on #202
@edorivai

I am new to Prisma, and this was the source of my problem.  The docs are not clear on this, and I suspect it may confuse a lot of people.  Thanks for clearing that up.

[2019-03-06 18:31] yukulelix opened #346 "UpdateMany${type} asks for ${type}UpdateManyMutationInput instead of ${type}UpdateInput"
**The bug**
Hi there,
I'm having some issues using an updateMany mutation with prisma binding :
[code]
When the function runs, it's giving me this error :
[code]
But in the generated model, I have no trace of a ReviewUpdateManyMutationInput :
[code]

**Versions (please complete the following information):**
 - Connector: MySQL
 - Prisma Server: 1.27.4
 - other dependencies: prisma-binding

Thanks

[2019-03-11 15:07] yukulelix commented on #346
Hi @pantharshit00, thanks for your help :)
The related datamodel part is :
[code]

The javascript function that produces the error is :
[code]
It is called like this : `updateManyReviewsAnalysisStatus(["key-one", "key-two"], "PENDING")`

Thanks in advance !

[2019-03-16 13:48] steebchen commented on #202
This is still an issue in the latest prisma@1.28.5. The fix for me was @Skitionek 's answer.

[2019-03-16 16:10] ecker00 commented on #118
This was a genius, should be an official utility or npm library for this! 💪
**I assume that doesn't exist yet?**

To summarise for anybody wanting a quick version converted form TypeScript to Javascript, including @nemcek improvments.
[code]
Usage:
[code]

[2019-03-17 14:20] codekiln opened #356 "Broken links in prisma-binding docs for GraphQL binding and blog post"
The section in the latest prisma docs has an [Overview of Prisma Bindings](https://www.prisma.io/docs/1.7/reference/prisma-bindings/overview-oobi0eicho) which includes two links that are broken:

[2019-03-18 08:25] yukulelix commented on #346
Any news on this @pantharshit00 ?

[2019-03-19 02:50] gabrieltong opened #358 "how to submit many transactions"
![331552963584_ pic](https://user-images.githubusercontent.com/97657/54576867-b069f680-4a34-11e9-9cf7-bdb645594178.jpg)

[2019-03-19 10:11] gabrieltong commented on #262
my prisma-binding also doesn't expost executeRaw ,
prisma server version 1.28

[2019-03-19 11:43] sundarkandasamy commented on #127
s

[2019-03-19 14:31] RoryKelly opened #359 "Connect Prisma Bindings to mock server"
With GraphQL-Bindings I can connect to a mock server using:

[code]

[2019-03-19 15:48] RoryKelly commented on #359
to clarify to mock prisma I do the following:

[code]

[2019-03-28 14:35] Industrial opened #367 "Calling a query from Yoga to Prisma does nothing."
Hi. I have two services: Prisma and GraphQL Yoga. Prisma is private and not exposed to the Proxy, the Yoga service is. It's the Public API of the Prisma Service, which sits in front of PostgreSQL.

https://github.com/Industrial/test-next.js/tree/develop/services/prisma
https://github.com/Industrial/test-next.js/tree/develop/services/api (Yoga)

Now inside the API service I have two methods, `creat

[2019-04-02 08:01] williamluke4 commented on #367
@Industrial should your options for delete chart not be
[code]

[2019-04-02 18:08] BaoPham92 opened #371 "Case Sensitive Query Adjustments."
There is no support for case sensitive query yet apparently.

What if however, If I wanted to add ```.match(/^[A-Za-z.\s_-]+$/)```  within the modules folder to the match and return data. I been digging through the actual documents for about 30 minutes, but I figured it would be faster if I asked here.

So say I am able to add the method, where would I want to add this? So far I dove into the Pris

[2019-04-05 15:20] Industrial commented on #367
I don't think so, but the output is the same.

[code]

[2019-04-06 12:39] williamluke4 commented on #367
Could you check the network tab in chrome devtools to see what the response is

[2019-04-06 16:16] Industrial commented on #367
This is from one microservice (API (my public GraphQL API)) to another microservice (Prisma (My private GraphQL API)). The browser is not included in this request.

It does nothing on the API side. It simply resolves the promise with undefined as a value.

gr,

Tom

[2019-04-08 17:45] RoryKelly commented on #300
This would solve #359 as well.  We could use `SchemaLink` to mock Prisma by providing a mocked executable schema.

[2019-04-23 18:53] kohakade opened #380 "Calling multiple prisma requests returns same error to all the request if any one of them gives error."
When called multiple requests (Query/Mutation) to Prisma server using Promise.all, if Any one of the request gives an error like `unique constraints violation` the all other request stops and gives the same error even though some request are queries.

[code]
I want to perform bulk create operation and want to perform opeartion for all even if any of them gives validation error and return summary l

[2019-04-26 19:35] sctgraham commented on #367
I'm having a similar issue when returning this from an Apollo resolver :
[code]
`console.log(data)` is returning `undefined`.
The catch is never triggered even with malformed inputs.

[2019-05-07 09:31] webberwang opened #383 "forwardTo() without having to specific resolver keys"
Currently forwardTo doesn't let us omit the resolvers, and as you can see it's quite a bit of boilerplate left.

[code]

Is it possible to have all those resolver made available without having to specify them?

[2019-05-29 15:03] ashb commented on #315
https://github.com/prisma/prisma/blob/5d6e09c2fb1a68dc9e05765629cf31ae3a22bcd4/server/connectors/api-connector/src/main/scala/com/prisma/api/schema/Errors.scala appears to be the source of the codes.

[2019-06-17 14:05] nugoo1 commented on #346
Hi I'm getting a very similar error!
Basically the production scheme is completely different to my development schema.. What's happening here?

[2019-06-29 11:04] ashish-patidar-rau commented on #108
Thanks @FredyC, I am thinking to create my own withFilter() func. You save my time.

[2019-07-04 04:42] abhijithvijayan commented on #299
```this.fragmentReplacements = fragmentReplacements || [];```
                                  ^

TypeError: Cannot set property 'fragmentReplacements' of undefined

I too face this error.

Repo:: https://github.com/abhijithvijayan/bug-graphql-yoga-backend

[2019-07-04 12:29] abhijithvijayan opened #411 "Cannot set property 'fragmentReplacements' of undefined"
![Screenshot from 2019-07-04 17-58-59](https://user-images.githubusercontent.com/34790378/60666763-71499f00-9e85-11e9-924e-27cdac30acf6.png)

```this.fragmentReplacements = fragmentReplacements || [];```
                                  ^

TypeError: Cannot set property 'fragmentReplacements' of undefined

I too face this error.

Repo:: https://github.com/abhijithvijayan/bug-graphql-yoga-backend

[2019-07-04 12:31] abhijithvijayan commented on #411
@schickling @timsuchanek Please do take a look at this.

[2019-07-07 09:10] akashanand708 commented on #229
downgrading to 2.1.3 solved the issue

[2019-07-08 16:27] divyenduz opened #412 "forwardTo with type rename"
Support the syntax:

`forwardTo('db', 'NewTypeName')`

Use case,

Client (iOS/Android) has a specific type name that got changed in Prisma layer. This feature would allow us the contain the breaking change at GraphQL server level.

Client sends `OldTypeName` and GraphQL server re-writes it to `NewTypeName`

[2019-07-11 17:38] thavamm opened #414 "how to get the count of records"
it would be great if you provide sample code to pull the count of matched records

[2019-07-20 21:14] TheoMer opened #416 "Howto define subscription endpoint"
Hi,

I'm searching the documents for the correct syntax to set up a subscription (websocket) endpoint, but can't find anything. How do I specify this?

My current prisma definition is as follows:

[code]

I simply want to add a `websocket_endpoint:  ‘ws://...’` line.

[2019-07-21 14:41] #416 closed

[2019-07-31 08:50] LydiaF opened #419 "Sub-selecting custom fields"
Hi there,

I am sorry if I am missing something big here! I do not even see why this would work but I am completely lost how to go about it :)

I have a big operation that I need to do on the server. It is completely disconnected with the front-end request. I am trying to get some custom fields in a subselection in a prisma query on the backend. This custom field is in the schema but it is not in

[2019-07-31 15:31] Cassianokunsch commented on #371
Hey, solve the problem?

[2019-08-06 21:14] BaoPham92 commented on #371
Unfortunately not at the moment. I have to revisit the project as I definitely would find this convenient.

[2019-08-24 08:07] modawoud commented on #247
Thanks to inlightmedia for his answer on prisma.io

In the end I found that you have to add http:// to the beginning of the service name like so: “http://prisma:4466”

This worked for me

[2019-08-24 13:55] Fi1osof commented on #196
Hello from 2019:)

[2019-08-27 17:20] redeguzman-gbf opened #432 "Subscription Implementation with Prisma Binding"
Is there clear documentation on how to implement subscriptions with prisma-binding? I’m using prisma 1.34 and prisma-binding 2.3.15.

At the moment, I have a subscription that looks like this:

[code]

and a resolver that looks like this:

[code]

and I get this error:

[code]

I can’t find any documentation that clearly tackles this. :(

[2019-09-09 16:56] NishSatish opened #436 "Improve Code Readability"
Opened this issue to beautify the code in [https://github.com/prisma/prisma-binding/blob/master/src/PrismaGenerator.ts](url) , to make it a bit more easier to read.

[2019-09-09 17:00] #436 closed

[2019-09-11 22:13] cesarve77 commented on #419
How did you solve this?

[2019-09-16 03:42] james1888 opened #439 "error when trying to call aggregate function"
I can query `customersConnection` via GraphQL playground but I can't access vai code like in the document https://www.prisma.io/docs/prisma-client/basic-data-access/reading-data-JAVASCRIPT-rsc2/#aggregations
[code]

got an error like this

[code]

[2019-10-20 09:27] al-ani commented on #439
I have the same issue with Prisma-binding

TypeError: prisma.query.usersConnection(...).aggregate is not a function
    at _callee3$ (/home/ayman/graphql/docker-postgres/src/resolvers/mutations/Book.js:82:68)
    at tryCatch (/home/ayman/graphql/docker-postgres/node_modules/babel-polyfill/node_modules/regenerator-runtime/runtime.js:65:40)
    at Generator.invoke [as _invoke] (/home/ayman/graphql/d

[2019-11-15 03:03] the-simian commented on #346
I'm experiencing this as well, I'm passing data as the docs say to do, I don't see anything about `UpdateManyMutationInput`

[2019-12-11 15:09] entrptaher commented on #250
Hello, is there any way to get the autocomplete? I think it's a blocking feature for prisma-binding to be using with `info` arguments.

[2019-12-19 03:57] Fi1osof opened #443 "Aliases still not works correctly"
Related to #176, https://github.com/prisma/prisma/issues/2429#issuecomment-392253774 and other.

Yes, i setted  tracing: false and cacheControl: false options and this applyed.
[code]
but aliases still not works.

Query:
[code]

Result:
[code]

Debug:
[code]

For additions debuging i add custom resolvers:
[code]

Result:
[code]

Data exists, and alias info exists:
[code]

But resolver do not retur

[2019-12-27 21:08] m1m6 commented on #250
+1

[2020-04-08 09:48] lucacattide commented on #202
I confirm it on 2.3.16 too. None of the above suggestions worked for me. 😞

[2020-04-08 11:21] Fi1osof commented on #202
[code]
Added where input should solve your problem.

[code]

[2020-04-30 01:18] baconcheese113 opened #446 "How to filter `Where null`"
I'm using Prisma 1 with Prisma Binding and a Postgresql DB.

Is there a way to find rows where a field is null?

This is what I would expect, but doesn't appear to be supported:
[code]

[2020-05-30 19:10] #367 closed

[2020-06-04 08:11] EhsanSarshar commented on #202
docker-compose down
docker-compose up

[2020-06-04 14:33] Fi1osof commented on #202
You have to warn that will remove all volumes and all data will lost.

[2020-06-05 14:50] EhsanSarshar commented on #202
@Fi1osof keep calm it's safe. it's just stop the containers not volumes. but if a container doesn't have any volume or mount point then it will lose it's local data.

[2020-06-18 23:54] Fi1osof commented on #202
[code]

Only **external** volumes not removes.

[2020-08-10 11:50] ArtyomNegev opened #449 "Prisma() not recognized as a constructor"
Hi,

I recently started a Next.js / GraphQL / Expresss.js project and with it I'm using Prisma 1.34 with Prisma-Binding. The problem is that when I want to use the Prisma () constructor from Prisma-Binding, the latter is just not recognized as a constructor despite being imported and defined as such.

I could try to switch to Prisma2 but the fact of not understanding why this error occurs has bloc

[2020-08-12 15:15] ArtyomNegev commented on #449
Was using experimental import/export from ES in node.
Don't use this.

Fixed

[2020-08-12 15:15] #449 closed

[2020-08-20 08:57] zrthxn opened #451 "Import error on IResolvers from graphql-tools"
The binding that is generated has the following import near the top

[code]

This import causes an error at compile time saying **cannot resolve IResolvers in graphql-tools/dist/Interfaces.**

This is because the module **[graphql-tools](https://github.com/ardatan/graphql-tools)** doesn't have a *`dist`* folder anymore. The whole module is exported via a barrel file at the package's root directory

[2020-10-07 22:06] qijio commented on #446
Same problem. How can i select records with null?
Tried "where: { prop: { equals: null } }" but still result is empty list, no errors

[2021-02-19 15:31] schickling opened #461 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-07 00:18] #250 closed

[2021-05-09 21:27] harshmangalam commented on #117
@callmekatootie nice  i have implement connect and disconnect in post and  user reactions many to many relation it work well

[2021-06-04 19:18] flesler opened #466 "Version of this for graphql-code-generator ?"
I'm upgrading `graphql-cli` and it now uses the tool at https://www.graphql-code-generator.com/.
This obviously doesn't just work as a plugin, I couldn't find a version that works with that tool.
Is there one to your knowledge?

[2021-06-24 09:48] szabi84 commented on #262
1. I added to my prisma config `rawAccess: true` flag:
[code]

2. With prisma deploy I regerated the `prisma.graphql` schema:
[code]
Now in the `prisma.graphql` file the executeRaw is added as mutation:
[code]

3. From this point you can reach executeRaw function from prisma-binding:
[code]

I hope it helped.

[2021-07-08 07:50] #451 closed

[2022-02-16 07:07] #39 closed